{
  "swagger": "2.0",
  "info": {
    "title": "Platform REST APIs",
    "version": "v1"
  },
  "schemes": [
    "https"
  ],
  "host": "api.fabric.microsoft.com",
  "basePath": "/v1",
  "paths": {
    "/workspaces": {
      "post": {
        "summary": "Creates a new workspace.",
        "description": "## Permissions\n\n- The caller must have permission to create workspaces granted by Fabric administrator. For more information see: [create workspaces](/fabric/admin/portal-workspace#create-workspaces-new-workspace-experience).\n- The caller must have *contributor* permissions or be an Admin on the capacity. For more information, see: [capacity user permissions](/power-bi/enterprise/service-admin-premium-manage#manage-user-permissions).\n- Service Principals must have permission granted by Fabric administrator. For more information see: [Service principals can create workspaces, connections, and deployment pipelines](/fabric/admin/service-admin-portal-developer#service-principals-can-create-workspaces-connections-and-deployment-pipelines). \n\n## Required Delegated Scopes\n\nWorkspace.ReadWrite.All\n\n## Microsoft Entra supported identities\n\nThis API supports the Microsoft [identities](/rest/api/fabric/articles/identity-support) listed in this section.\n\n| Identity | Support |\n|-|-|\n| User | Yes |\n| [Service principal](/entra/identity-platform/app-objects-and-service-principals#service-principal-object) and [Managed identities](/entra/identity/managed-identities-azure-resources/overview) | Yes |\n\n## Interface",
        "tags": [
          "Workspaces"
        ],
        "operationId": "Workspaces_CreateWorkspace",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "createWorkspaceRequest",
            "description": "Create workspace request payload.",
            "schema": {
              "$ref": "./definitions/platform.json#/definitions/CreateWorkspaceRequest"
            },
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "Successfully created.",
            "headers": {
              "Location": {
                "description": "The URL of the newly created workspace.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "./definitions/platform.json#/definitions/Workspace"
            }
          },
          "default": {
            "description": "Common error codes:\n\n* UnknownError - An error occurred.",
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create a workspace example": {
            "$ref": "./examples/platform/CreateWorkspaceRequiredOnly.json"
          }
        }
      },
      "get": {
        "summary": "Returns a list of workspaces the principal can access. Use the roles query parameter to filter results by the principal workspace role.",
        "description": "This API supports [pagination](/rest/api/fabric/articles/pagination).\n\n## Required Delegated Scopes\n\nWorkspace.Read.All or Workspace.ReadWrite.All\n\n## Microsoft Entra supported identities\n\nThis API supports the Microsoft [identities](/rest/api/fabric/articles/identity-support) listed in this section.\n\n| Identity | Support |\n|-|-|\n| User | Yes |\n| [Service principal](/entra/identity-platform/app-objects-and-service-principals#service-principal-object) and [Managed identities](/entra/identity/managed-identities-azure-resources/overview) | Yes |\n\n## Interface",
        "tags": [
          "Workspaces"
        ],
        "operationId": "Workspaces_ListWorkspaces",
        "x-ms-pageable": {
          "nextLinkName": "continuationUri"
        },
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "roles",
            "description": "A list of [roles](/power-bi/collaborate-share/service-roles-new-workspaces#workspace-roles). Separate values using a comma. If not provided, all workspaces are returned.",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "continuationToken",
            "description": "A token for retrieving the next page of results.",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "schema": {
              "$ref": "./definitions/platform.json#/definitions/Workspaces"
            }
          },
          "default": {
            "description": "Common error codes:\n\n* InvalidParameter - Invalid workspace role.\n\n* UnknownError - An error occurred.",
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List workspaces example": {
            "$ref": "./examples/platform/ListWorkspaces.json"
          },
          "List workspaces with roles filter example": {
            "$ref": "./examples/platform/ListWorkspacesWithWorkspaceRoleFilter.json"
          },
          "List workspaces with continuation example": {
            "$ref": "./examples/platform/ListWorkspacesWithContinuation.json"
          }
        }
      }
    },
    "/workspaces/{workspaceId}": {
      "get": {
        "summary": "Returns specified workspace information.",
        "description": "## Permissions\n\n The caller must have *viewer* or higher workspace role.\n\n## Required Delegated Scopes\n\nWorkspace.Read.All or Workspace.ReadWrite.All\n\n## Microsoft Entra supported identities\n\nThis API supports the Microsoft [identities](/rest/api/fabric/articles/identity-support) listed in this section.\n\n| Identity | Support |\n|-|-|\n| User | Yes |\n| [Service principal](/entra/identity-platform/app-objects-and-service-principals#service-principal-object) and [Managed identities](/entra/identity/managed-identities-azure-resources/overview) | Yes |\n\n## Interface",
        "tags": [
          "Workspaces"
        ],
        "operationId": "Workspaces_GetWorkspace",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workspaceId",
            "description": "The workspace ID.",
            "type": "string",
            "format": "uuid",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "schema": {
              "$ref": "./definitions/platform.json#/definitions/WorkspaceInfo"
            }
          },
          "default": {
            "description": "Common error codes:\n\n* UnknownError - An error occurred.",
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a workspace example": {
            "$ref": "./examples/platform/GetWorkspace.json"
          }
        }
      },
      "patch": {
        "summary": "Updates the specified workspace properties.",
        "description": "## Permissions\n\nThe caller must have *admin* workspace role.\n\n## Required Delegated Scopes\n\nWorkspace.ReadWrite.All\n\n## Microsoft Entra supported identities\n\nThis API supports the Microsoft [identities](/rest/api/fabric/articles/identity-support) listed in this section.\n\n| Identity | Support |\n|-|-|\n| User | Yes |\n| [Service principal](/entra/identity-platform/app-objects-and-service-principals#service-principal-object) and [Managed identities](/entra/identity/managed-identities-azure-resources/overview) | Yes |\n\n## Interface",
        "tags": [
          "Workspaces"
        ],
        "operationId": "Workspaces_UpdateWorkspace",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workspaceId",
            "description": "The workspace ID.",
            "type": "string",
            "format": "uuid",
            "required": true
          },
          {
            "in": "body",
            "name": "updateWorkspaceRequest",
            "description": "Update workspace request payload.",
            "schema": {
              "$ref": "./definitions/platform.json#/definitions/UpdateWorkspaceRequest"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "schema": {
              "$ref": "./definitions/platform.json#/definitions/Workspace"
            }
          },
          "default": {
            "description": "Common error codes:\n\n* UnknownError - An error occurred.",
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update a workspace example": {
            "$ref": "./examples/platform/UpdateWorkspace.json"
          }
        }
      },
      "delete": {
        "summary": "Deletes the specified workspace and the items under it.",
        "description": "## Permissions\n\nThe caller must have *admin* workspace role.\n\n## Required Delegated Scopes\n\nWorkspace.ReadWrite.All\n\n## Microsoft Entra supported identities\n\nThis API supports the Microsoft [identities](/rest/api/fabric/articles/identity-support) listed in this section.\n\n| Identity | Support |\n|-|-|\n| User | Yes |\n| [Service principal](/entra/identity-platform/app-objects-and-service-principals#service-principal-object) and [Managed identities](/entra/identity/managed-identities-azure-resources/overview) | Yes |\n\n## Interface",
        "tags": [
          "Workspaces"
        ],
        "operationId": "Workspaces_DeleteWorkspace",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workspaceId",
            "description": "The workspace ID.",
            "type": "string",
            "format": "uuid",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Request completed successfully."
          },
          "default": {
            "description": "Common error codes:\n\n* UnknownError - An error occurred.",
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a workspace example": {
            "$ref": "./examples/platform/DeleteWorkspace.json"
          }
        }
      }
    },
    "/workspaces/{workspaceId}/roleAssignments": {
      "post": {
        "summary": "Adds a workspace role assignment.",
        "description": "To get the principal user object ID required for request body, see [Find the user object ID](/partner-center/find-ids-and-domain-names#find-the-user-object-id).\n\n## Permissions\n\n- The caller must have *member* or higher workspace role. \n- Members can add members or others with lower permissions. For more information see: [workspace roles](/power-bi/collaborate-share/service-roles-new-workspaces#workspace-roles).\n\n## Required Delegated Scopes\n\nWorkspace.ReadWrite.All\n\n## Microsoft Entra supported identities\n\nThis API supports the Microsoft [identities](/rest/api/fabric/articles/identity-support) listed in this section.\n\n| Identity | Support |\n|-|-|\n| User | Yes |\n| [Service principal](/entra/identity-platform/app-objects-and-service-principals#service-principal-object) and [Managed identities](/entra/identity/managed-identities-azure-resources/overview) | Yes |\n\n## Interface",
        "tags": [
          "Workspaces"
        ],
        "operationId": "Workspaces_AddWorkspaceRoleAssignment",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workspaceId",
            "description": "The workspace ID.",
            "type": "string",
            "format": "uuid",
            "required": true
          },
          {
            "in": "body",
            "name": "workspaceRoleAssignmentRequest",
            "description": "Add workspace role assignment request payload.",
            "schema": {
              "$ref": "./definitions/platform.json#/definitions/AddWorkspaceRoleAssignmentRequest"
            },
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "Successfully created.",
            "headers": {
              "Location": {
                "description": "The URL of the newly created workspace role assignment.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "./definitions/platform.json#/definitions/WorkspaceRoleAssignment"
            }
          },
          "default": {
            "description": "Common error codes:\n\n* UnknownError - An error occurred.",
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Add workspace role assignment example": {
            "$ref": "./examples/platform/AddWorkspaceRoleAssignment.json"
          }
        }
      },
      "get": {
        "summary": "Returns a list of workspace role assignments.",
        "description": "This API supports [pagination](/rest/api/fabric/articles/pagination).\n\n## Permissions\n\n The caller must have *member* or higher workspace role.\n\n## Required Delegated Scopes\n\nWorkspace.Read.All or Workspace.ReadWrite.All\n\n## Microsoft Entra supported identities\n\nThis API supports the Microsoft [identities](/rest/api/fabric/articles/identity-support) listed in this section.\n\n| Identity | Support |\n|-|-|\n| User | Yes |\n| [Service principal](/entra/identity-platform/app-objects-and-service-principals#service-principal-object) and [Managed identities](/entra/identity/managed-identities-azure-resources/overview) | Yes |\n\n## Interface",
        "tags": [
          "Workspaces"
        ],
        "operationId": "Workspaces_ListWorkspaceRoleAssignments",
        "x-ms-pageable": {
          "nextLinkName": "continuationUri"
        },
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workspaceId",
            "description": "The workspace ID.",
            "type": "string",
            "format": "uuid",
            "required": true
          },
          {
            "in": "query",
            "name": "continuationToken",
            "description": "A token for retrieving the next page of results.",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "schema": {
              "$ref": "./definitions/platform.json#/definitions/WorkspaceRoleAssignments"
            }
          },
          "default": {
            "description": "Common error codes:\n\n* UnknownError - An error occurred.",
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get workspace role assignments example": {
            "$ref": "./examples/platform/GetWorkspaceRoleAssignments.json"
          },
          "Get workspace role assignments with continuation example": {
            "$ref": "./examples/platform/GetWorkspaceRoleAssignmentsWithContinuation.json"
          }
        }
      }
    },
    "/workspaces/{workspaceId}/roleAssignments/{workspaceRoleAssignmentId}": {
      "delete": {
        "summary": "Deletes the specified workspace role assignment.",
        "description": "The role assignment of the last admin can't be deleted.\n\n## Permissions\n\n The caller must have *admin* workspace role.\n\n## Required Delegated Scopes\n\n Workspace.ReadWrite.All\n\n## Microsoft Entra supported identities\n\nThis API supports the Microsoft [identities](/rest/api/fabric/articles/identity-support) listed in this section.\n\n| Identity | Support |\n|-|-|\n| User | Yes |\n| [Service principal](/entra/identity-platform/app-objects-and-service-principals#service-principal-object) and [Managed identities](/entra/identity/managed-identities-azure-resources/overview) | Yes |\n\n## Interface",
        "tags": [
          "Workspaces"
        ],
        "operationId": "Workspaces_DeleteWorkspaceRoleAssignment",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workspaceId",
            "description": "The workspace ID.",
            "type": "string",
            "format": "uuid",
            "required": true
          },
          {
            "in": "path",
            "name": "workspaceRoleAssignmentId",
            "description": "The workspace role assignment ID.",
            "type": "string",
            "format": "uuid",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Request completed successfully."
          },
          "default": {
            "description": "Common error codes:\n\n* UnknownError - An error occurred.",
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete workspace role assignment example": {
            "$ref": "./examples/platform/DeleteWorkspaceRoleAssignment.json"
          }
        }
      },
      "patch": {
        "summary": "Updates a workspace role assignment.",
        "description": "The role assignment of the last admin can't be changed.\n\n## Permissions\n\nThe caller must have *admin* role on the workspace.\n\n## Required Delegated Scopes\n\nWorkspace.ReadWrite.All\n\n## Microsoft Entra supported identities\n\nThis API supports the Microsoft [identities](/rest/api/fabric/articles/identity-support) listed in this section.\n\n| Identity | Support |\n|-|-|\n| User | Yes |\n| [Service principal](/entra/identity-platform/app-objects-and-service-principals#service-principal-object) and [Managed identities](/entra/identity/managed-identities-azure-resources/overview) | Yes |\n\n## Interface",
        "tags": [
          "Workspaces"
        ],
        "operationId": "Workspaces_UpdateWorkspaceRoleAssignment",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workspaceId",
            "description": "The workspace ID.",
            "type": "string",
            "format": "uuid",
            "required": true
          },
          {
            "in": "path",
            "name": "workspaceRoleAssignmentId",
            "description": "The workspace role assignment ID.",
            "type": "string",
            "format": "uuid",
            "required": true
          },
          {
            "in": "body",
            "name": "updateWorkspaceRoleAssignmentRequest",
            "description": "Update workspace role assignment request payload.",
            "schema": {
              "$ref": "./definitions/platform.json#/definitions/UpdateWorkspaceRoleAssignmentRequest"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "schema": {
              "$ref": "./definitions/platform.json#/definitions/WorkspaceRoleAssignment"
            }
          },
          "default": {
            "description": "Common error codes:\n\n* UnknownError - An error occurred.",
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update workspace role assignment example": {
            "$ref": "./examples/platform/UpdateWorkspaceRoleAssignment.json"
          }
        }
      },
      "get": {
        "summary": "Returns information of a workspace role assignment.",
        "description": "## Permissions\n\n The caller must have *member* or higher role on the workspace.\n\n## Required Delegated Scopes\n\nWorkspace.Read.All or Workspace.ReadWrite.All\n\n## Microsoft Entra supported identities\n\nThis API supports the Microsoft [identities](/rest/api/fabric/articles/identity-support) listed in this section.\n\n| Identity | Support |\n|-|-|\n| User | Yes |\n| [Service principal](/entra/identity-platform/app-objects-and-service-principals#service-principal-object) and [Managed identities](/entra/identity/managed-identities-azure-resources/overview) | Yes |\n\n## Interface",
        "tags": [
          "Workspaces"
        ],
        "operationId": "Workspaces_GetWorkspaceRoleAssignment",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workspaceId",
            "description": "The workspace ID.",
            "type": "string",
            "format": "uuid",
            "required": true
          },
          {
            "in": "path",
            "name": "workspaceRoleAssignmentId",
            "description": "The workspace role assignment ID.",
            "type": "string",
            "format": "uuid",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "schema": {
              "$ref": "./definitions/platform.json#/definitions/WorkspaceRoleAssignment"
            }
          },
          "default": {
            "description": "Common error codes:\n\n* UnknownError - An error occurred.",
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get workspace role assignment example": {
            "$ref": "./examples/platform/GetWorkspaceRoleAssignment.json"
          }
        }
      }
    },
    "/workspaces/{workspaceId}/items": {
      "get": {
        "summary": "Returns a list of items from the specified workspace.",
        "description": "This API supports [pagination](/rest/api/fabric/articles/pagination).\n\n## Permissions\n\n The caller must have a *viewer* workspace role. \n\n## Required Delegated Scopes\n\nWorkspace.Read.All or Workspace.ReadWrite.All\n\n## Microsoft Entra supported identities\n\nThis API supports the Microsoft [identities](/rest/api/fabric/articles/identity-support) listed in this section.\n\n| Identity | Support |\n|-|-|\n| User | Yes |\n| [Service principal](/entra/identity-platform/app-objects-and-service-principals#service-principal-object) and [Managed identities](/entra/identity/managed-identities-azure-resources/overview) | Yes |\n\n## Interface",
        "tags": [
          "Items"
        ],
        "operationId": "Items_ListItems",
        "produces": [
          "application/json"
        ],
        "x-ms-pageable": {
          "nextLinkName": "continuationUri"
        },
        "parameters": [
          {
            "in": "path",
            "name": "workspaceId",
            "description": "The workspace ID.",
            "type": "string",
            "format": "uuid",
            "required": true
          },
          {
            "in": "query",
            "name": "type",
            "description": "The item's type.",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "recursive",
            "description": "Lists items in a folder and its nested folders, or just a folder only. True - All items in the folder and its nested folders are listed, False - Only items in the folder are listed. The default value is true.",
            "type": "boolean",
            "required": false
          },
          {
            "in": "query",
            "name": "rootFolderId",
            "description": "This parameter allows users to filter items based on a specific root folder. If not provided, the workspace is used as the root folder.",
            "type": "string",
            "format": "uuid",
            "required": false
          },
          {
            "in": "query",
            "name": "continuationToken",
            "description": "A token for retrieving the next page of results.",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "schema": {
              "$ref": "./definitions/platform.json#/definitions/Items"
            }
          },
          "default": {
            "description": "Common error codes:\n\n* InvalidItemType - Invalid item type.\n\n* FolderNotFound - Could not find the requested folder.",
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List all items in workspace example": {
            "$ref": "./examples/platform/ListItemsInWorkspace.json"
          },
          "List all items in workspace by type query parameter example": {
            "$ref": "./examples/platform/ListItemsInWorkspaceByType.json"
          },
          "List direct items in workspace example": {
            "$ref": "./examples/platform/ListDirectItemsInWorkspace.json"
          },
          "List all items in a specific folder example": {
            "$ref": "./examples/platform/ListAllItemsInFolder.json"
          },
          "List direct items in a specific folder example": {
            "$ref": "./examples/platform/ListDirectItemsInFolder.json"
          },
          "List items in workspace with continuation example": {
            "$ref": "./examples/platform/ListItemsInWorkspaceWithContinuation.json"
          }
        }
      },
      "post": {
        "summary": "Creates an item in the specified workspace.",
        "description": "This API is supported for a number of item types, find the supported item types in [Item management overview](/rest/api/fabric/articles/item-management/item-management-overview). You can use [Get item definition API](/rest/api/fabric/core/items/get-item-definition) to get an item definition. \n\nThis API supports [long running operations (LRO)](/rest/api/fabric/articles/long-running-operation).\n\n ## Permissions \n The caller must have a *contributor* workspace role.\n\n## Required Delegated Scopes\n\n For item APIs use these scope types: \n- Generic scope: Item.ReadWrite.All \n- Specific scope: *itemType*.ReadWrite.All (for example: Notebook.ReadWrite.All) \n\n for more information about scopes, see [scopes article](/rest/api/fabric/articles/scopes). \n\n## Limitations \n- To create a non-PowerBI Fabric item the workspace must be on a supported Fabric capacity. For more information see [Microsoft Fabric license types](/fabric/enterprise/licenses#microsoft-fabric-license-types). \n- To create a PowerBI item, the user must have the appropriate license. For more information see [Microsoft Fabric license types](/fabric/enterprise/licenses#microsoft-fabric-license-types). \n- When creating an item, use either `creationPayload` or `definition`, but do not use both at the same time. \n\n## Microsoft Entra supported identities\n\nThis API supports the Microsoft [identities](/rest/api/fabric/articles/identity-support) listed in this section.\n\n| Identity | Support |\n|-|-|\n| User | Yes |\n| [Service principal](/entra/identity-platform/app-objects-and-service-principals#service-principal-object) and [Managed identities](/entra/identity/managed-identities-azure-resources/overview) | When the item type in the call is supported. Check the corresponding API for the item type you're calling, to see if your call is supported. For example, semantic models are supported. |\n\n## Interface",
        "tags": [
          "Items"
        ],
        "operationId": "Items_CreateItem",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "x-ms-fabric-sdk-long-running-operation": true,
        "parameters": [
          {
            "in": "path",
            "name": "workspaceId",
            "description": "The workspace ID.",
            "type": "string",
            "format": "uuid",
            "required": true
          },
          {
            "in": "body",
            "name": "createItemRequest",
            "description": "Create item request payload.",
            "schema": {
              "$ref": "./definitions/platform.json#/definitions/CreateItemRequest"
            },
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "Successfully created",
            "schema": {
              "$ref": "../common/definitions.json#/definitions/Item"
            }
          },
          "202": {
            "description": "Request accepted, item provisioning in progress",
            "headers": {
              "Location": {
                "description": "The URL of the operation status which tracks the operation state.",
                "type": "string"
              },
              "x-ms-operation-id": {
                "description": "The operation ID used with long running operations (LRO) APIs to track the operation state and get the result.",
                "type": "string",
                "format": "uuid"
              },
              "Retry-After": {
                "type": "integer",
                "description": "The number of seconds to wait before retrying the request."
              }
            }
          },
          "default": {
            "description": "Common error codes:\n\n* InvalidItemType - Item type is invalid.\n\n* ItemDisplayNameAlreadyInUse - Item display name is already used.\n\n* CorruptedPayload - The provided payload is corrupted.\n\n* FolderNotFound - Could not find the requested folder.\n\n* WorkspaceItemsLimitExceeded - Workspace item limit exceeded.",
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create an item example": {
            "$ref": "./examples/platform/CreateItemRequiredOnly.json"
          },
          "Create an item in folder example": {
            "$ref": "./examples/platform/CreateItemInFolder.json"
          }
        }
      }
    },
    "/workspaces/{workspaceId}/items/{itemId}": {
      "get": {
        "summary": "Returns properties of the specified item.",
        "description": "This API is supported for a number of item types, find the supported item types in [Item management overview](/rest/api/fabric/articles/item-management/item-management-overview). \n\nFor retrieving additional type specific properties, refer to the get API reference page of the specific item type.\n\n## Permissions\n\n The caller must have *read* permissions for the item. \n\n## Required Delegated Scopes\n\n For item APIs use these scope types: \n- Generic scope: Item.Read.All or Item.ReadWrite.All \n- Specific scope: *itemType*.Read.All or *itemType*.ReadWrite.All (for example: Notebook.ReadWrite.All) \n\n for more information about scopes, see: [scopes article](/rest/api/fabric/articles/scopes).\n\n## Microsoft Entra supported identities\n\nThis API supports the Microsoft [identities](/rest/api/fabric/articles/identity-support) listed in this section.\n\n| Identity | Support |\n|-|-|\n| User | Yes |\n| [Service principal](/entra/identity-platform/app-objects-and-service-principals#service-principal-object) and [Managed identities](/entra/identity/managed-identities-azure-resources/overview) | Yes |\n\n## Interface",
        "tags": [
          "Items"
        ],
        "operationId": "Items_GetItem",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workspaceId",
            "description": "The workspace ID.",
            "type": "string",
            "format": "uuid",
            "required": true
          },
          {
            "in": "path",
            "name": "itemId",
            "description": "The item ID.",
            "type": "string",
            "format": "uuid",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "schema": {
              "$ref": "../common/definitions.json#/definitions/Item"
            }
          },
          "default": {
            "description": "Common error codes:\n\n* ItemNotFound - The requested item was not found.",
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get an item example": {
            "$ref": "./examples/platform/GetItem.json"
          }
        }
      },
      "patch": {
        "summary": "Updates the properties of the specified item.",
        "description": "This API is supported for a number of item types, find the supported item types and information about their definition structure in [Item management overview](/rest/api/fabric/articles/item-management/item-management-overview).\n\n## Permissions\n\n The caller must have *read and write* permissions for the item.\n\n## Required Delegated Scopes\n\n For item APIs use these scope types: \n- Generic scope: Item.ReadWrite.All \n- Specific scope: *itemType*.ReadWrite.All (for example: Notebook.ReadWrite.All) \n\n for more information about scopes, see: [scopes article](/rest/api/fabric/articles/scopes).\n\n## Microsoft Entra supported identities\n\nThis API supports the Microsoft [identities](/rest/api/fabric/articles/identity-support) listed in this section.\n\n| Identity | Support |\n|-|-|\n| User | Yes |\n| [Service principal](/entra/identity-platform/app-objects-and-service-principals#service-principal-object) and [Managed identities](/entra/identity/managed-identities-azure-resources/overview) | When the item type in the call is supported. Check the corresponding API for the item type you're calling, to see if your call is supported. For example, semantic models are supported. |\n\n## Interface",
        "tags": [
          "Items"
        ],
        "operationId": "Items_UpdateItem",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workspaceId",
            "description": "The workspace ID.",
            "type": "string",
            "format": "uuid",
            "required": true
          },
          {
            "in": "path",
            "name": "itemId",
            "description": "The item ID.",
            "type": "string",
            "format": "uuid",
            "required": true
          },
          {
            "in": "body",
            "name": "updateItemRequest",
            "description": "Update item request payload.",
            "schema": {
              "$ref": "./definitions/platform.json#/definitions/UpdateItemRequest"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "schema": {
              "$ref": "../common/definitions.json#/definitions/Item"
            }
          },
          "default": {
            "description": "Common error codes:\n\n* ItemNotFound - The requested item was not found.\n\n* InvalidRequest - Invalid update request.",
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update an item example": {
            "$ref": "./examples/platform/UpdateItem.json"
          }
        }
      },
      "delete": {
        "summary": "Deletes the specified item.",
        "description": "This API is supported for a number of item types, find the supported item types and information about their definition structure in [Item management overview](/rest/api/fabric/articles/item-management/item-management-overview). \n\n## Permissions\n\n The caller must have *write* permissions for the item.\n\n## Required Delegated Scopes\n\n For item APIs use these scope types: \n- Generic scope: Item.ReadWrite.All \n- Specific scope: *itemType*.ReadWrite.All (for example: Notebook.ReadWrite.All) \n\n for more information about scopes, see [scopes article](/rest/api/fabric/articles/scopes).\n\n## Microsoft Entra supported identities\n\nThis API supports the Microsoft [identities](/rest/api/fabric/articles/identity-support) listed in this section.\n\n| Identity | Support |\n|-|-|\n| User | Yes |\n| [Service principal](/entra/identity-platform/app-objects-and-service-principals#service-principal-object) and [Managed identities](/entra/identity/managed-identities-azure-resources/overview) | When the item type in the call is supported. Check the corresponding API for the item type you're calling, to see if your call is supported. For example, semantic models are supported. |\n\n## Interface",
        "tags": [
          "Items"
        ],
        "operationId": "Items_DeleteItem",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workspaceId",
            "description": "The workspace ID.",
            "type": "string",
            "format": "uuid",
            "required": true
          },
          {
            "in": "path",
            "name": "itemId",
            "description": "The item ID.",
            "type": "string",
            "format": "uuid",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Request completed successfully."
          },
          "default": {
            "description": "Common error codes:\n\n* ItemNotFound - The requested item was not found.",
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete an item example": {
            "$ref": "./examples/platform/DeleteItem.json"
          }
        }
      }
    },
    "/workspaces/{workspaceId}/items/{itemId}/getDefinition": {
      "post": {
        "summary": "Returns the specified item definition.",
        "description": "This API is supported for a number of item types, find the supported item types and information about their definition structure in [Item definition overview](/rest/api/fabric/articles/item-management/definitions/item-definition-overview).\nWhen you get an item's definition, the sensitivity label is not a part of the definition.\n\nThis API supports [long running operations (LRO)](/rest/api/fabric/articles/long-running-operation).\n\n## Permissions\n\n The caller must have *read and write* permissions for the item. \n\n## Required Delegated Scopes\n\n For item APIs use these scope types: \n- Generic scope: Item.ReadWrite.All \n- Specific scope: *itemType*.ReadWrite.All (for example: Notebook.ReadWrite.All) \n\n for more information about scopes, see [Scopes article](/rest/api/fabric/articles/scopes). \n\n## Limitations\n\n This API is blocked for an item with a protected sensitivity label, unless the caller has the usage rights to delete the sensitivity label. \n\n## Microsoft Entra supported identities\n\nThis API supports the Microsoft [identities](/rest/api/fabric/articles/identity-support) listed in this section.\n\n| Identity | Support |\n|-|-|\n| User | Yes |\n| [Service principal](/entra/identity-platform/app-objects-and-service-principals#service-principal-object) and [Managed identities](/entra/identity/managed-identities-azure-resources/overview) | When the item type in the call is supported. Check the corresponding API for the item type you're calling, to see if your call is supported. For example, semantic models are supported. |\n\n## Interface",
        "tags": [
          "Items"
        ],
        "operationId": "Items_GetItemDefinition",
        "produces": [
          "application/json"
        ],
        "x-ms-fabric-sdk-long-running-operation": true,
        "parameters": [
          {
            "in": "path",
            "name": "workspaceId",
            "description": "The workspace ID.",
            "type": "string",
            "format": "uuid",
            "required": true
          },
          {
            "in": "path",
            "name": "itemId",
            "description": "The item ID.",
            "type": "string",
            "format": "uuid",
            "required": true
          },
          {
            "in": "query",
            "name": "format",
            "description": "The format of the item definition.",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "schema": {
              "$ref": "./definitions/platform.json#/definitions/ItemDefinitionResponse"
            }
          },
          "202": {
            "description": "Request accepted. Retrieving the definition is in progress.",
            "headers": {
              "Location": {
                "description": "The URL of the operation status, which can be used to track the operation state.",
                "type": "string"
              },
              "x-ms-operation-id": {
                "description": "The operation ID which can be used with long running operations (LRO) APIs to track the operation state and get the result.",
                "type": "string",
                "format": "uuid"
              },
              "Retry-After": {
                "type": "integer",
                "description": "The number of seconds to wait before retrying the request."
              }
            }
          },
          "default": {
            "description": "Common error codes:\n\n* OperationNotSupportedForItem - Operation not supported for requested item.",
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get an item definition example": {
            "$ref": "./examples/platform/GetItemDefinition.json"
          }
        }
      }
    },
    "/workspaces/{workspaceId}/items/{itemId}/updateDefinition": {
      "post": {
        "summary": "Overrides the definition for the specified item.",
        "description": "This API is supported for a number of item types, find the supported item types and information about their definition structure in [Item definition overview](/rest/api/fabric/articles/item-management/definitions/item-definition-overview).\nUpdating the item's definition, does not affect its sensitivity label. \n\nThis API supports [long running operations (LRO)](/rest/api/fabric/articles/long-running-operation).\n\n## Permissions\n\n The caller must have *read and write* permissions for the item.\n## Required Delegated Scopes\n\n For item APIs use these scope types: \n- Generic scope: Item.ReadWrite.All \n- Specific scope: *itemType*.ReadWrite.All (for example: Notebook.ReadWrite.All) \n\n for more information about scopes, see [scopes article](/rest/api/fabric/articles/scopes).\n\n## Microsoft Entra supported identities\n\nThis API supports the Microsoft [identities](/rest/api/fabric/articles/identity-support) listed in this section.\n\n| Identity | Support |\n|-|-|\n| User | Yes |\n| [Service principal](/entra/identity-platform/app-objects-and-service-principals#service-principal-object) and [Managed identities](/entra/identity/managed-identities-azure-resources/overview) | When the item type in the call is supported. Check the corresponding API for the item type you're calling, to see if your call is supported. For example, semantic models are supported. |\n\n## Interface",
        "tags": [
          "Items"
        ],
        "operationId": "Items_UpdateItemDefinition",
        "produces": [
          "application/json"
        ],
        "x-ms-fabric-sdk-long-running-operation": true,
        "parameters": [
          {
            "in": "path",
            "name": "workspaceId",
            "description": "The workspace ID.",
            "type": "string",
            "format": "uuid",
            "required": true
          },
          {
            "in": "path",
            "name": "itemId",
            "description": "The item ID.",
            "type": "string",
            "format": "uuid",
            "required": true
          },
          {
            "in": "query",
            "name": "updateMetadata",
            "description": "When set to true and the .platform file is provided as part of the definition, the item's metadata is updated using the metadata in the .platform file",
            "type": "boolean",
            "required": false
          },
          {
            "in": "body",
            "name": "updateItemDefinitionRequest",
            "description": "Update item definition request payload.",
            "schema": {
              "$ref": "./definitions/platform.json#/definitions/UpdateItemDefinitionRequest"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Request completed successfully."
          },
          "202": {
            "description": "Request accepted. Update definition is in progress.",
            "headers": {
              "Location": {
                "description": "The URL of the operation status, which can be used to track the operation state.",
                "type": "string"
              },
              "x-ms-operation-id": {
                "description": "The operation ID used with long running operations (LRO) APIs to track the operation state and get the result.",
                "type": "string",
                "format": "uuid"
              },
              "Retry-After": {
                "type": "integer",
                "description": "The number of seconds to wait before retrying the request."
              }
            }
          },
          "default": {
            "description": "Common error codes:\n\n* OperationNotSupportedForItem - Operation not supported for requested item.\n\n* CorruptedPayload - The provided payload is corrupted.",
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update an item definition example": {
            "$ref": "./examples/platform/UpdateItemDefinition.json"
          }
        }
      }
    },
    "/workspaces/{workspaceId}/items/{itemId}/jobs/{jobType}/schedules": {
      "get": {
        "summary": "Get scheduling settings for one specific item.",
        "description": "This API supports [pagination](/rest/api/fabric/articles/pagination).\n\n## Required Delegated Scopes\n\n For item APIs use these scope types: \n- Generic scope: Item.ReadWrite.All or Item.Read.All \n- Specific scope: *itemType*.ReadWrite.All or *itemType*.Read.All (for example: Notebook.ReadWrite.All) \n\n for more information about scopes, see [scopes article](/rest/api/fabric/articles/scopes).\n\n## Microsoft Entra supported identities\n\nThis API supports the Microsoft [identities](/rest/api/fabric/articles/identity-support) listed in this section.\n\n| Identity | Support |\n|-|-|\n| User | Yes |\n| [Service principal](/entra/identity-platform/app-objects-and-service-principals#service-principal-object) and [Managed identities](/entra/identity/managed-identities-azure-resources/overview) | Yes |\n\n## Interface",
        "tags": [
          "JobScheduler"
        ],
        "operationId": "JobScheduler_ListItemSchedules",
        "x-ms-pageable": {
          "nextLinkName": "continuationUri"
        },
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workspaceId",
            "description": "The workspace ID.",
            "type": "string",
            "format": "uuid",
            "required": true
          },
          {
            "in": "path",
            "name": "itemId",
            "description": "The item ID.",
            "type": "string",
            "format": "uuid",
            "required": true
          },
          {
            "in": "path",
            "name": "jobType",
            "description": "The job type.",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "continuationToken",
            "description": "A token for retrieving the next page of results.",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved all item schedules.",
            "schema": {
              "$ref": "./definitions/platform.json#/definitions/ItemSchedules"
            }
          },
          "default": {
            "description": "Common error codes:\n\n* InsufficientPrivileges - The caller does not have sufficient permissions to access the item\n\n* ItemNotFound - Requested item id not found",
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List item schedules example": {
            "$ref": "./examples/platform/ListItemSchedules.json"
          }
        }
      },
      "post": {
        "summary": "Create a new schedule for an item. An item can create maximum 20 schedulers.",
        "description": "## Required Delegated Scopes: \n\nItem.Execute.All and Item.ReadWrite.All\n\n## Microsoft Entra supported identities\n\nThis API supports the Microsoft [identities](/rest/api/fabric/articles/identity-support) listed in this section.\n\n| Identity | Support |\n|-|-|\n| User | Yes |\n| [Service principal](/entra/identity-platform/app-objects-and-service-principals#service-principal-object) and [Managed identities](/entra/identity/managed-identities-azure-resources/overview) | Yes |\n\n## Interface",
        "tags": [
          "JobScheduler"
        ],
        "operationId": "JobScheduler_CreateItemSchedule",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workspaceId",
            "description": "The workspace ID.",
            "type": "string",
            "format": "uuid",
            "required": true
          },
          {
            "in": "path",
            "name": "itemId",
            "description": "The item ID.",
            "type": "string",
            "format": "uuid",
            "required": true
          },
          {
            "in": "path",
            "name": "jobType",
            "description": "The job type.",
            "type": "string",
            "required": true
          },
          {
            "in": "body",
            "name": "createScheduleRequest",
            "description": "A item schedule create request.",
            "schema": {
              "$ref": "./definitions/platform.json#/definitions/CreateScheduleRequest"
            },
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "Successfully create the schedule.",
            "headers": {
              "Location": {
                "description": "The URL of the newly created schedule.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "./definitions/platform.json#/definitions/ItemSchedule"
            }
          },
          "default": {
            "description": "Common error codes:\n\n* InsufficientPrivileges - The caller does not have sufficient permissions to access the item\n\n* ItemNotFound - Requested item id not found\n\n* ScheduleExceedsLimit - The number of created schedules for the item exceeds the limit",
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "create item schedule example": {
            "$ref": "./examples/platform/CreateItemSchedule.json"
          }
        }
      }
    },
    "/workspaces/{workspaceId}/items/{itemId}/jobs/{jobType}/schedules/{scheduleId}": {
      "get": {
        "summary": "Get an existing schedule for an item.",
        "description": "## Required Delegated Scopes\n\n For item APIs use these scope types: \n- Generic scope: Item.Read.All or Item.ReadWrite.All\n- Specific scope: *itemType*.Read.All or *itemType*.ReadWrite.All (for example: Notebook.Read.All) \n\n for more information about scopes, see [scopes article](/rest/api/fabric/articles/scopes).\n\n## Microsoft Entra supported identities\n\nThis API supports the Microsoft [identities](/rest/api/fabric/articles/identity-support) listed in this section.\n\n| Identity | Support |\n|-|-|\n| User | Yes |\n| [Service principal](/entra/identity-platform/app-objects-and-service-principals#service-principal-object) and [Managed identities](/entra/identity/managed-identities-azure-resources/overview) | Yes |\n\n## Interface",
        "tags": [
          "JobScheduler"
        ],
        "operationId": "JobScheduler_GetItemSchedule",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workspaceId",
            "description": "The workspace ID.",
            "type": "string",
            "format": "uuid",
            "required": true
          },
          {
            "in": "path",
            "name": "itemId",
            "description": "The item ID.",
            "type": "string",
            "format": "uuid",
            "required": true
          },
          {
            "in": "path",
            "name": "jobType",
            "description": "The job type.",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "scheduleId",
            "description": "The item schedule ID.",
            "type": "string",
            "format": "uuid",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully get the schedule.",
            "schema": {
              "$ref": "./definitions/platform.json#/definitions/ItemSchedule"
            }
          },
          "default": {
            "description": "Common error codes:\n\n* InsufficientPrivileges - The caller does not have sufficient permissions to access the item\n\n* ItemNotFound - Requested item id not found",
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "get item schedule example": {
            "$ref": "./examples/platform/GetItemSchedule.json"
          }
        }
      },
      "patch": {
        "summary": "Update an existing schedule for an item.",
        "description": "## Required Delegated Scopes: \n\nItem.Execute.All and Item.ReadWrite.All\n\n## Microsoft Entra supported identities\n\nThis API supports the Microsoft [identities](/rest/api/fabric/articles/identity-support) listed in this section.\n\n| Identity | Support |\n|-|-|\n| User | Yes |\n| [Service principal](/entra/identity-platform/app-objects-and-service-principals#service-principal-object) and [Managed identities](/entra/identity/managed-identities-azure-resources/overview) | Yes |\n\n## Interface",
        "tags": [
          "JobScheduler"
        ],
        "operationId": "JobScheduler_UpdateItemSchedule",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workspaceId",
            "description": "The workspace ID.",
            "type": "string",
            "format": "uuid",
            "required": true
          },
          {
            "in": "path",
            "name": "itemId",
            "description": "The item ID.",
            "type": "string",
            "format": "uuid",
            "required": true
          },
          {
            "in": "path",
            "name": "jobType",
            "description": "The job type.",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "scheduleId",
            "description": "The item schedule ID.",
            "type": "string",
            "format": "uuid",
            "required": true
          },
          {
            "in": "body",
            "name": "updateScheduleRequest",
            "description": "A item schedule update request.",
            "schema": {
              "$ref": "./definitions/platform.json#/definitions/UpdateScheduleRequest"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully update the schedule.",
            "schema": {
              "$ref": "./definitions/platform.json#/definitions/ItemSchedule"
            }
          },
          "default": {
            "description": "Common error codes:\n\n* InsufficientPrivileges - The caller does not have sufficient permissions to access the item\n\n* ItemNotFound - Requested item id not found",
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "update item schedule plan example": {
            "$ref": "./examples/platform/UpdateItemSchedule.json"
          }
        }
      },
      "delete": {
        "summary": "Delete an existing schedule for an item.",
        "description": "## Required Delegated Scopes\n\n For item APIs use these scope types: \n- Generic scope: Item.ReadWrite.All\n- Specific scope: *itemType*.ReadWrite.All (for example: Notebook.ReadWrite.All) \n\n for more information about scopes, see [scopes article](/rest/api/fabric/articles/scopes).\n\n## Microsoft Entra supported identities\n\nThis API supports the Microsoft [identities](/rest/api/fabric/articles/identity-support) listed in this section.\n\n| Identity | Support |\n|-|-|\n| User | Yes |\n| [Service principal](/entra/identity-platform/app-objects-and-service-principals#service-principal-object) and [Managed identities](/entra/identity/managed-identities-azure-resources/overview) | Yes |\n\n## Interface",
        "tags": [
          "JobScheduler"
        ],
        "operationId": "JobScheduler_DeleteItemSchedule",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workspaceId",
            "description": "The workspace ID.",
            "type": "string",
            "format": "uuid",
            "required": true
          },
          {
            "in": "path",
            "name": "itemId",
            "description": "The item ID.",
            "type": "string",
            "format": "uuid",
            "required": true
          },
          {
            "in": "path",
            "name": "jobType",
            "description": "The job type.",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "scheduleId",
            "description": "The item schedule ID.",
            "type": "string",
            "format": "uuid",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Request completed successfully."
          },
          "default": {
            "description": "Common error codes:\n\n* InsufficientPrivileges - The caller does not have sufficient permissions to access the item\n\n* ItemNotFound - Requested item ID not found",
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "delete item schedule example": {
            "$ref": "./examples/platform/DeleteItemSchedule.json"
          }
        }
      }
    },
    "/workspaces/{workspaceId}/items/{itemId}/jobs/instances/{jobInstanceId}": {
      "get": {
        "summary": "Get one item's job instance.",
        "description": "## Required Delegated Scopes\n\n For item APIs use these scope types: \n- Generic scope: Item.ReadWrite.All or Item.Read.All \n- Specific scope: *itemType*.ReadWrite.All or *itemType*.Read.All (for example: Notebook.ReadWrite.All) \n\n for more information about scopes, see [scopes article](/rest/api/fabric/articles/scopes).\n\n## Microsoft Entra supported identities\n\nThis API supports the Microsoft [identities](/rest/api/fabric/articles/identity-support) listed in this section.\n\n| Identity | Support |\n|-|-|\n| User | Yes |\n| [Service principal](/entra/identity-platform/app-objects-and-service-principals#service-principal-object) and [Managed identities](/entra/identity/managed-identities-azure-resources/overview) | Yes |\n\n## Interface",
        "tags": [
          "JobScheduler"
        ],
        "operationId": "JobScheduler_GetItemJobInstance",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workspaceId",
            "description": "The workspace ID.",
            "type": "string",
            "format": "uuid",
            "required": true
          },
          {
            "in": "path",
            "name": "itemId",
            "description": "The item ID.",
            "type": "string",
            "format": "uuid",
            "required": true
          },
          {
            "in": "path",
            "name": "jobInstanceId",
            "description": "The job instance ID.",
            "type": "string",
            "format": "uuid",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "schema": {
              "$ref": "./definitions/platform.json#/definitions/ItemJobInstance"
            }
          },
          "default": {
            "description": "Common error codes:\n\n* InsufficientPrivileges - The caller does not have sufficient permissions to access the item.\n\n* ItemNotFound - Requested item id not found.",
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get item job instance example": {
            "$ref": "./examples/platform/GetItemJobInstance.json"
          }
        }
      }
    },
    "/workspaces/{workspaceId}/items/{itemId}/jobs/instances": {
      "get": {
        "summary": "Returns a list of job instances for the specified item.",
        "description": "## Required Delegated Scopes\n\n For item APIs use these scope types: \n- Generic scope: Item.ReadWrite.All or Item.Read.All \n- Specific scope: *itemType*.ReadWrite.All or *itemType*.Read.All (for example: Notebook.ReadWrite.All) \n\n for more information about scopes, see [scopes article](/rest/api/fabric/articles/scopes).\n\n## Limitations\n\n-  Most items have a limit of 100 recently completed entities, and there is not limit for active entities.\n\n## Microsoft Entra supported identities\n\nThis API supports the Microsoft [identities](/rest/api/fabric/articles/identity-support) listed in this section.\n\n| Identity | Support |\n|-|-|\n| User | Yes |\n| [Service principal](/entra/identity-platform/app-objects-and-service-principals#service-principal-object) and [Managed identities](/entra/identity/managed-identities-azure-resources/overview) | Yes |\n\n## Interface",
        "tags": [
          "JobScheduler"
        ],
        "operationId": "JobScheduler_ListItemJobInstances",
        "x-ms-pageable": {
          "nextLinkName": "continuationUri"
        },
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workspaceId",
            "description": "The workspace ID.",
            "type": "string",
            "format": "uuid",
            "required": true
          },
          {
            "in": "path",
            "name": "itemId",
            "description": "The item ID.",
            "type": "string",
            "format": "uuid",
            "required": true
          },
          {
            "in": "query",
            "name": "continuationToken",
            "description": "A token for retrieving the next page of results.",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "schema": {
              "$ref": "./definitions/platform.json#/definitions/ItemJobInstances"
            }
          },
          "default": {
            "description": "Common error codes:\n\n* InsufficientPrivileges - The caller does not have sufficient permissions to access the item.\n\n* ItemNotFound - Requested item id not found.",
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List item job instances example": {
            "$ref": "./examples/platform/ListItemJobInstances.json"
          },
          "List item job instances with continuation example": {
            "$ref": "./examples/platform/ListItemJobInstancesWithContinuation.json"
          }
        }
      },
      "post": {
        "summary": "Run on-demand item job instance.",
        "description": "## Required Delegated Scopes\n\n For item APIs use these scope types: \n- Generic scope: Item.Execute.All \n- Specific scope: *itemType*.Execute.All (for example: Notebook.Execute.All) \n\n for more information about scopes, see: [scopes article](/rest/api/fabric/articles/scopes).\n\n## Microsoft Entra supported identities\n\nThis API supports the Microsoft [identities](/rest/api/fabric/articles/identity-support) listed in this section.\n\n| Identity | Support |\n|-|-|\n| User | Yes |\n| [Service principal](/entra/identity-platform/app-objects-and-service-principals#service-principal-object) and [Managed identities](/entra/identity/managed-identities-azure-resources/overview) | Yes |\n\n## Interface",
        "tags": [
          "JobScheduler"
        ],
        "operationId": "JobScheduler_RunOnDemandItemJob",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workspaceId",
            "description": "The workspace ID.",
            "type": "string",
            "format": "uuid",
            "required": true
          },
          {
            "in": "path",
            "name": "itemId",
            "description": "The item ID.",
            "type": "string",
            "format": "uuid",
            "required": true
          },
          {
            "in": "query",
            "name": "jobType",
            "description": "Job type",
            "type": "string",
            "required": true
          },
          {
            "in": "body",
            "name": "runOnDemandItemJobRequest",
            "description": "Run on-demand item job request payload.",
            "schema": {
              "$ref": "./definitions/platform.json#/definitions/RunOnDemandItemJobRequest"
            },
            "required": false
          }
        ],
        "responses": {
          "202": {
            "description": "Request accepted, job execution is in progress.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The URL to the job instance resource"
              },
              "Retry-After": {
                "type": "integer",
                "description": "The number of seconds to wait before retrying the request"
              }
            }
          },
          "default": {
            "description": "Common error codes:\n\n* InsufficientPrivileges - The caller does not have sufficient permissions to run job instance.\n\n* InvalidJobType - The requested job type is invalid.\n\n* TooManyRequestsForJobs - The caller requests too many on-demand job requests.\n\n* ItemNotFound - Requested item ID not found.",
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Run item job instance with no request body example": {
            "$ref": "./examples/platform/RunOnDemandItemJob.json"
          },
          "Run item job instance with request body containing executionData example": {
            "$ref": "./examples/platform/RunOnDemandItemJob2.json"
          }
        }
      }
    },
    "/workspaces/{workspaceId}/items/{itemId}/jobs/instances/{jobInstanceId}/cancel": {
      "post": {
        "summary": "Cancel an item's job instance.",
        "description": "## Required Delegated Scopes\n\n For item APIs use these scope types: \n- Generic scope: Item.Execute.All \n- Specific scope: *itemType*.Execute.All (for example: Notebook.Execute.All) \n\n for more information about scopes, see [scopes article](/rest/api/fabric/articles/scopes).\n\n## Microsoft Entra supported identities\n\nThis API supports the Microsoft [identities](/rest/api/fabric/articles/identity-support) listed in this section.\n\n| Identity | Support |\n|-|-|\n| User | Yes |\n| [Service principal](/entra/identity-platform/app-objects-and-service-principals#service-principal-object) and [Managed identities](/entra/identity/managed-identities-azure-resources/overview) | Yes |\n\n## Interface",
        "tags": [
          "JobScheduler"
        ],
        "operationId": "JobScheduler_CancelItemJobInstance",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workspaceId",
            "description": "The workspace ID.",
            "type": "string",
            "format": "uuid",
            "required": true
          },
          {
            "in": "path",
            "name": "itemId",
            "description": "The item ID.",
            "type": "string",
            "format": "uuid",
            "required": true
          },
          {
            "in": "path",
            "name": "jobInstanceId",
            "description": "The job instance ID.",
            "type": "string",
            "format": "uuid",
            "required": true
          }
        ],
        "responses": {
          "202": {
            "description": "Request accepted, canceling a job is in progress.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The URL to the job instance resource."
              },
              "Retry-After": {
                "type": "integer",
                "description": "The number of seconds to wait before retrying the request."
              }
            }
          },
          "default": {
            "description": "Common error codes:\n\n* InsufficientPrivileges - The caller does not have sufficient permissions to cancel job instance.\n\n* ItemNotFound - Requested item id not found.\n\n* JobAlreadyCompleted - Requested cancellation can not take be processed as job instance run has completed.",
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Cancel item job instance example": {
            "$ref": "./examples/platform/CancelItemJobInstance.json"
          }
        }
      }
    },
    "/workspaces/{workspaceId}/assignToCapacity": {
      "post": {
        "summary": "Assigns the specified workspace to the specified capacity.",
        "description": "## Permissions\n\n- The caller must have *contributor* permissions or be an capacity Admin. \n- The caller must have *admin* workspace role.\n\n## Required Scope\n\nCapacity.ReadWrite.All and Workspace.ReadWrite.All\n\n## Limitations \n\n- Fabric items (non-PowerBI) don't support migration across region. For more information see [moving data around](/fabric/admin/portal-workspaces#moving-data-around). \n- Workspaces with Fabric items (non-PowerBI) can only be assigned to Fabric, Fabric trial or Power BI Premium capacity. For more information see [Microsoft Fabric license types](/fabric/enterprise/licenses#microsoft-fabric-license-types).\n\n## Microsoft Entra supported identities\n\nThis API supports the Microsoft [identities](/rest/api/fabric/articles/identity-support) listed in this section.\n\n| Identity | Support |\n|-|-|\n| User | Yes |\n| [Service principal](/entra/identity-platform/app-objects-and-service-principals#service-principal-object) and [Managed identities](/entra/identity/managed-identities-azure-resources/overview) | Yes |\n\n## Interface",
        "tags": [
          "Workspaces"
        ],
        "operationId": "Workspaces_AssignToCapacity",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workspaceId",
            "description": "The workspace ID.",
            "type": "string",
            "format": "uuid",
            "required": true
          },
          {
            "in": "body",
            "name": "assignWorkspaceToCapacityRequest",
            "description": "Assign to capacity parameters",
            "required": true,
            "schema": {
              "$ref": "./definitions/platform.json#/definitions/AssignWorkspaceToCapacityRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Request accepted, assignment is in progress."
          },
          "default": {
            "description": "Common error codes:\n\n* UnknownError - An error occurred.",
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Assign a workspace to capacity example": {
            "$ref": "./examples/platform/AssignWorkspaceToCapacity.json"
          }
        }
      }
    },
    "/workspaces/{workspaceId}/unassignFromCapacity": {
      "post": {
        "summary": "Unassigns the specified workspace from capacity.",
        "description": "## Permissions\n\n The caller must have *admin* role on the workspace. \n\n## Required Delegated Scopes\n\nCapacity.ReadWrite.All and Workspace.ReadWrite.All\n\n## Limitations \n\n Workspaces with Fabric items (non-PowerBI) cannot be unassigned from capacity of supported type. For more information see: [moving data around](/fabric/admin/portal-workspaces#moving-data-around).\n\n## Microsoft Entra supported identities\n\nThis API supports the Microsoft [identities](/rest/api/fabric/articles/identity-support) listed in this section.\n\n| Identity | Support |\n|-|-|\n| User | Yes |\n| [Service principal](/entra/identity-platform/app-objects-and-service-principals#service-principal-object) and [Managed identities](/entra/identity/managed-identities-azure-resources/overview) | Yes |\n\n## Interface",
        "tags": [
          "Workspaces"
        ],
        "operationId": "Workspaces_UnassignFromCapacity",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workspaceId",
            "description": "The workspace ID.",
            "type": "string",
            "format": "uuid",
            "required": true
          }
        ],
        "responses": {
          "202": {
            "description": "Request accepted, unassignment is in progress."
          },
          "default": {
            "description": "Common error codes:\n\n* UnknownError - An error occurred.",
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Assign a workspace to capacity example": {
            "$ref": "./examples/platform/UnassignWorkspaceFromCapacity.json"
          }
        }
      }
    },
    "/workspaces/{workspaceId}/git/connection": {
      "get": {
        "summary": "Returns git connection details for the specified workspace.",
        "description": "## Permissions\n\nThe caller must have a *contributor* or higher workspace role.\n\n## Required Delegated Scopes\n\nWorkspace.Read.All or Workspace.ReadWrite.All\n\n## Microsoft Entra supported identities\n\nThis API supports the Microsoft [identities](/rest/api/fabric/articles/identity-support) listed in this section.\n\n| Identity | Support |\n|-|-|\n| User | Yes |\n| [Service principal](/entra/identity-platform/app-objects-and-service-principals#service-principal-object) and [Managed identities](/entra/identity/managed-identities-azure-resources/overview) | Yes |\n\n## Interface",
        "tags": [
          "Git"
        ],
        "operationId": "Git_GetConnection",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workspaceId",
            "description": "The workspace ID.",
            "type": "string",
            "format": "uuid",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "schema": {
              "$ref": "./definitions/gitIntegration.json#/definitions/GitConnection"
            }
          },
          "default": {
            "description": "Common error codes:\n\n* UnknownError - An error occurred.\n\n* InsufficientPrivileges - The caller does not have sufficient workspace permissions.",
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Git connection details example": {
            "$ref": "./examples/gitIntegration/GetConnection.json"
          },
          "Workspace not connected to git example": {
            "$ref": "./examples/gitIntegration/GetConnection_NotConnected.json"
          }
        }
      }
    },
    "/workspaces/{workspaceId}/git/connect": {
      "post": {
        "summary": "Connect a specific workspace to a git repository and branch.",
        "description": "This operation does not sync between the workspace and the connected branch. To complete the sync, use the [Initialize Connection](/rest/api/fabric/core/git/initialize-connection) operation and follow with either the [Commit To Git](/rest/api/fabric/core/git/commit-to-git) or the [Update From Git](/rest/api/fabric/core/git/update-from-git) operation.\n\nTo get started with GitHub, see: [Get started with Git integration](/fabric/cicd/git-integration/git-get-started?tabs=github).\n\nTo get the connection ID, see [Automate Git integration](/fabric/cicd/git-integration/git-automation#get-or-create-git-provider-credentials-connection).\n\n## Permissions\n\nThe caller must have an *admin* role for the workspace.\n\nFor configured connection Git credentials, the caller must have permission for the connection.\n\n## Required Delegated Scopes\n\nWorkspace.ReadWrite.All\n\n## Microsoft Entra supported identities\n\nThis API supports the Microsoft [identities](/rest/api/fabric/articles/identity-support) listed in this section.\n\n| Identity | Support |\n|-|-|\n| User | Yes |\n| [Service principal](/entra/identity-platform/app-objects-and-service-principals#service-principal-object) and [Managed identities](/entra/identity/managed-identities-azure-resources/overview) | Not supported when the Git provider is AzureDevOps and credentials are Automatic |\n\n## Interface",
        "tags": [
          "Git"
        ],
        "operationId": "Git_Connect",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workspaceId",
            "description": "The workspace ID.",
            "type": "string",
            "format": "uuid",
            "required": true
          },
          {
            "in": "body",
            "name": "gitConnectRequest",
            "description": "Connect to the Git request payload.",
            "schema": {
              "$ref": "./definitions/gitIntegration.json#/definitions/GitConnectRequest"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Request completed successfully."
          },
          "default": {
            "description": "Common error codes:\n\n* UnknownError - An error occurred.\n\n* WorkspaceAlreadyConnectedToGit - Workspace is already connected to git.\n\n* WorkspaceHasNoCapacityAssigned - No capacity assigned to workspace.\n\n* InsufficientPrivileges - Caller has insufficient workspace permissions.\n\n* PrincipalTypeNotSupported - Caller identity type is not supported.",
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Connect a workspace to Azure DevOps example": {
            "$ref": "./examples/gitIntegration/ConnectToAzureDevOps.json"
          },
          "Connect a workspace to Azure DevOps using configured connection example": {
            "$ref": "./examples/gitIntegration/ConnectToAzureDevOpsUsingConfiguredConnection.json"
          },
          "Connect a workspace to GitHub example": {
            "$ref": "./examples/gitIntegration/ConnectToGitHub.json"
          }
        }
      }
    },
    "/workspaces/{workspaceId}/git/disconnect": {
      "post": {
        "summary": "Disconnect a specific workspace from the Git repository and branch it is connected to.",
        "description": "## Permissions\n\nThe caller must have an *admin* workspace role.\n\n## Required Delegated Scopes\n\nWorkspace.ReadWrite.All\n\n## Microsoft Entra supported identities\n\nThis API supports the Microsoft [identities](/rest/api/fabric/articles/identity-support) listed in this section.\n\n| Identity | Support |\n|-|-|\n| User | Yes |\n| [Service principal](/entra/identity-platform/app-objects-and-service-principals#service-principal-object) and [Managed identities](/entra/identity/managed-identities-azure-resources/overview) | Yes |\n\n## Interface",
        "tags": [
          "Git"
        ],
        "operationId": "Git_Disconnect",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workspaceId",
            "description": "The workspace ID.",
            "type": "string",
            "format": "uuid",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Request completed successfully."
          },
          "default": {
            "description": "Common error codes:\n\n* UnknownError - An error occurred.\n\n* WorkspaceNotConnectedToGit - Workspace is not connected to git.\n\n* InsufficientPrivileges - Caller has insufficient workspace permissions.",
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Disconnect a workspace from a Git example": {
            "$ref": "./examples/gitIntegration/Disconnect.json"
          }
        }
      }
    },
    "/workspaces/{workspaceId}/git/initializeConnection": {
      "post": {
        "summary": "Initialize a connection for a workspace that's connected to Git.",
        "description": "This API supports [long running operations (LRO)](/rest/api/fabric/articles/long-running-operation).\n\nTo use this API, the caller's Git credentials must be configured using [Update My Git Credentials](/rest/api/fabric/core/git/update-my-git-credentials) API. You can use the [Get My Git Credentials](/rest/api/fabric/core/git/get-my-git-credentials) API to check the Git credentials configuration.\n\nThis API should be called after a successful call to the [Connect](/rest/api/fabric/core/git/connect) API. To complete a full sync of the workspace, use the [Required Action](initialize-connection#requiredaction) operation to call the relevant sync operation, either [Commit To Git](/rest/api/fabric/core/git/commit-to-git) or [Update From Git](/rest/api/fabric/core/git/update-from-git).\n\n## Permissions\n\nThe caller must have an *admin* workspace role.\n\n## Required Delegated Scopes\n\nWorkspace.ReadWrite.All\n\n## Microsoft Entra supported identities\n\nThis API supports the Microsoft [identities](/rest/api/fabric/articles/identity-support) listed in this section.\n\n| Identity | Support |\n|-|-|\n| User | Yes |\n| [Service principal](/entra/identity-platform/app-objects-and-service-principals#service-principal-object) and [Managed identities](/entra/identity/managed-identities-azure-resources/overview) |\n\n## Interface",
        "tags": [
          "Git"
        ],
        "operationId": "Git_InitializeConnection",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "x-ms-fabric-sdk-long-running-operation": true,
        "parameters": [
          {
            "in": "path",
            "name": "workspaceId",
            "description": "The workspace ID.",
            "type": "string",
            "format": "uuid",
            "required": true
          },
          {
            "in": "body",
            "name": "gitInitializeConnectionRequest",
            "description": "Initialize the connection request payload.",
            "schema": {
              "$ref": "./definitions/gitIntegration.json#/definitions/InitializeGitConnectionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "schema": {
              "$ref": "./definitions/gitIntegration.json#/definitions/InitializeGitConnectionResponse"
            }
          },
          "202": {
            "description": "Request accepted, initialize connection in progress.",
            "headers": {
              "Location": {
                "description": "The URL of the operation status, which can be used to track the operation state.",
                "type": "string"
              },
              "x-ms-operation-id": {
                "description": "The operation ID which can be used with long running operations (LRO) APIs to track the operation state and get the result.",
                "type": "string",
                "format": "uuid"
              },
              "Retry-After": {
                "type": "integer",
                "description": "The number of seconds to wait before retrying the request."
              }
            }
          },
          "default": {
            "description": "Common error codes:\n\n* WorkspaceNotConnectedToGit - Workspace is not connected to git.\n\n* WorkspaceHasNoCapacityAssigned - No capacity assigned to Workspace.\n\n* MissingInitializationPolicy - Initialization policy is missing.\n\n* InsufficientPrivileges - The caller does not have sufficient permissions on the workspace.\n\n* PrincipalTypeNotSupported - Caller identity type is not supported.",
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Initialize the connection of a workspace connected to a Git example": {
            "$ref": "./examples/gitIntegration/InitializeConnection.json"
          }
        }
      }
    },
    "/workspaces/{workspaceId}/git/updateFromGit": {
      "post": {
        "summary": "Updates the workspace with commits pushed to the connected branch.",
        "description": "This API supports [long running operations (LRO)](/rest/api/fabric/articles/long-running-operation).\n\nTo use this API, the caller's Git credentials must be configured using [Update My Git Credentials](/rest/api/fabric/core/git/update-my-git-credentials) API. You can use the [Get My Git Credentials](/rest/api/fabric/core/git/get-my-git-credentials) API to check the Git credentials configuration.\n\nThe update only affects items in the workspace that were changed in those commits. If called after the [Connect](/rest/api/fabric/core/git/connect) and [Initialize Connection](/rest/api/fabric/core/git/initialize-connection) APIs, it will perform a full update of the entire workspace.\n\n## Permissions\n\nThe caller must have a *contributor* or higher workspace role.\n\n## Required Delegated Scopes\n\nWorkspace.GitUpdate.All\n\n## Microsoft Entra supported identities\n\nThis API supports the Microsoft [identities](/rest/api/fabric/articles/identity-support) listed in this section.\n\n| Identity | Support |\n|-|-|\n| User | Yes |\n| [Service principal](/entra/identity-platform/app-objects-and-service-principals#service-principal-object) and [Managed identities](/entra/identity/managed-identities-azure-resources/overview) | Only supported when all the [items](/rest/api/fabric/articles/item-management/item-management-overview) involved in the operation support service principals |\n\n## Interface",
        "tags": [
          "Git"
        ],
        "operationId": "Git_UpdateFromGit",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "x-ms-fabric-sdk-long-running-operation": true,
        "parameters": [
          {
            "in": "path",
            "name": "workspaceId",
            "description": "The workspace ID.",
            "type": "string",
            "format": "uuid",
            "required": true
          },
          {
            "in": "body",
            "name": "updateFromGitRequest",
            "description": "Update from a Git request payload.",
            "schema": {
              "$ref": "./definitions/gitIntegration.json#/definitions/UpdateFromGitRequest"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Request completed successfully."
          },
          "202": {
            "description": "Request accepted, update from Git in progress.",
            "headers": {
              "Location": {
                "description": "The URL of the operation status, which can be used to track the operation state.",
                "type": "string"
              },
              "x-ms-operation-id": {
                "description": "The operation ID which can be used with long running operations (LRO) APIs to track the operation state and get the result.",
                "type": "string",
                "format": "uuid"
              },
              "Retry-After": {
                "type": "integer",
                "description": "The number of seconds to wait before retrying the request."
              }
            }
          },
          "default": {
            "description": "Common error codes:\n\n* WorkspaceNotConnectedToGit - Workspace is not connected to git.\n\n* WorkspaceHasNoCapacityAssigned -  No capacity assigned to workspace.\n\n* WorkspaceHeadMismatch - Head in the request doesn't match the head in the system.\n\n* WorkspacePreviousOperationInProgress - Previous operation is still in progress.\n\n* MissingDependency - A dependency is missing in the update operation.\n\n* PotentialDuplicateDisplayNameAndType - Update operation will create a duplicate display name and type.\n\n* DependencyDeletionFailed - Update operation will delete hard dependency.\n\n* InsufficientPrivileges - The caller does not have sufficient workspace permissions.\n\n* PrincipalTypeNotSupported - Caller identity type is not supported.",
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update a workspace using data from a Git example": {
            "$ref": "./examples/gitIntegration/UpdateFromGit.json"
          }
        }
      }
    },
    "/workspaces/{workspaceId}/git/status": {
      "get": {
        "summary": "Returns the `Git status` of items in the workspace, that can be committed to Git.",
        "description": "This API supports [long running operations (LRO)](/rest/api/fabric/articles/long-running-operation).\n\nThe status indicates changes to items since the last workspace and remote branch sync. If the remote and workspace items were both modified, the API flags a conflict.\n\nTo use this API, the caller's Git credentials must be configured using [Update My Git Credentials](/rest/api/fabric/core/git/update-my-git-credentials) API. You can use the [Get My Git Credentials](/rest/api/fabric/core/git/get-my-git-credentials) API to check the Git credentials configuration.\n\n## Permissions\n\nThe caller must have a *contributor* or higher workspace role.\n\n## Required Delegated Scopes\n\nWorkspace.GitUpdate.All or Workspace.GitCommit.All\n\n## Microsoft Entra supported identities\n\nThis API supports the Microsoft [identities](/rest/api/fabric/articles/identity-support) listed in this section.\n\n| Identity | Support |\n|-|-|\n| User | Yes |\n| [Service principal](/entra/identity-platform/app-objects-and-service-principals#service-principal-object) and [Managed identities](/entra/identity/managed-identities-azure-resources/overview) |\n\n## Interface",
        "tags": [
          "Git"
        ],
        "operationId": "Git_GetStatus",
        "produces": [
          "application/json"
        ],
        "x-ms-fabric-sdk-long-running-operation": true,
        "parameters": [
          {
            "in": "path",
            "name": "workspaceId",
            "description": "The workspace ID.",
            "type": "string",
            "format": "uuid",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "schema": {
              "$ref": "./definitions/gitIntegration.json#/definitions/GitStatusResponse"
            }
          },
          "202": {
            "description": "Request accepted, get status in progress.",
            "headers": {
              "Location": {
                "description": "The URL of the operation status used to track the operation state.",
                "type": "string"
              },
              "x-ms-operation-id": {
                "description": "The operation ID used with long running operations (LRO) APIs to track the operation state and get the result.",
                "type": "string",
                "format": "uuid"
              },
              "Retry-After": {
                "type": "integer",
                "description": "The number of seconds to wait before retrying the request."
              }
            }
          },
          "default": {
            "description": "Common error codes:\n\n* WorkspaceNotConnectedToGit - Workspace is not connected to git.\n\n* WorkspaceHasNoCapacityAssigned - Workspace is not on capacity.\n\n* InsufficientPrivileges - The caller does not have sufficient workspace permissions.\n\n* PrincipalTypeNotSupported - Caller identity type is not supported.",
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get status example": {
            "$ref": "./examples/gitIntegration/GetStatus.json"
          },
          "Get status no changes example": {
            "$ref": "./examples/gitIntegration/GetStatus_NoChanges.json"
          },
          "Get status with conflict example": {
            "$ref": "./examples/gitIntegration/GetStatus_Conflict.json"
          }
        }
      }
    },
    "/workspaces/{workspaceId}/git/commitToGit": {
      "post": {
        "summary": "Commits the changes made in the workspace to the connected remote branch.",
        "description": "This API supports [long running operations (LRO)](/rest/api/fabric/articles/long-running-operation).\n\nTo use this API, the caller's Git credentials must be configured using [Update My Git Credentials](/rest/api/fabric/core/git/update-my-git-credentials) API. You can use the [Get My Git Credentials](/rest/api/fabric/core/git/get-my-git-credentials) API to check the Git credentials configuration.\n\nYou can choose to commit all changes or only specific changed items. To sync the workspace for the first time, use this API after the [Connect](/rest/api/fabric/core/git/connect) and [Initialize Connection](/rest/api/fabric/core/git/initialize-connection) APIs.\n\n## Permissions\n\nThe caller must have a *contributor* or higher workspace role.\n\n## Required Delegated Scopes\n\nWorkspace.GitCommit.All.\n\n## Microsoft Entra supported identities\n\nThis API supports the Microsoft [identities](/rest/api/fabric/articles/identity-support) listed in this section.\n\n| Identity | Support |\n|-|-|\n| User | Yes |\n| [Service principal](/entra/identity-platform/app-objects-and-service-principals#service-principal-object) and [Managed identities](/entra/identity/managed-identities-azure-resources/overview) | Only supported when all the [items](/rest/api/fabric/articles/item-management/item-management-overview) involved in the operation support service principals |\n\n## Interface",
        "tags": [
          "Git"
        ],
        "operationId": "Git_CommitToGit",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
[...]
