{
  "swagger": "2.0",
  "info": {
    "title": "SQLEndpoint REST APIs",
    "version": "v1"
  },
  "schemes": [
    "https"
  ],
  "host": "api.fabric.microsoft.com",
  "basePath": "/v1",
  "paths": {
    "/workspaces/{workspaceId}/sqlEndpoints/{sqlEndpointId}/refreshMetadata": {
      "post": {
        "summary": "> [!NOTE]\n> This Preview API is experimental and may change without notice. It is provided for evaluation and development only; production use is not recommended.\n\nRefreshes all tables within a SQL analytics endpoint.",
        "description": "This API supports [long running operations (LRO)](/rest/api/fabric/articles/long-running-operation).\n\n## Permissions\n\n The caller must have *contributor* or higher workspace role. \n\n## Required Delegated Scopes\n\nItem.ReadWrite.All\n\n## Microsoft Entra supported identities\n\nThis API supports the Microsoft [identities](/rest/api/fabric/articles/identity-support) listed in this section.\n\n| Identity | Support |\n|-|-|\n| User | Yes |\n| [Service principal](/entra/identity-platform/app-objects-and-service-principals#service-principal-object) and [Managed identities](/entra/identity/managed-identities-azure-resources/overview) | Yes |\n\n## Interface",
        "tags": [
          "Items"
        ],
        "operationId": "Items_RefreshSqlEndpointMetadata",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "x-ms-fabric-sdk-long-running-operation": true,
        "parameters": [
          {
            "in": "query",
            "name": "preview",
            "description": "This required parameter must be set to `true` to access this API, which is currently in preview. It indicates that the caller acknowledges the API's experimental nature and accepts the possibility of breaking changes. Any other value or omission is currently not supported.",
            "type": "boolean",
            "required": true
          },
          {
            "in": "path",
            "name": "workspaceId",
            "description": "The workspace ID.",
            "type": "string",
            "format": "uuid",
            "required": true
          },
          {
            "in": "path",
            "name": "sqlEndpointId",
            "description": "The SQL analytics endpoint ID.",
            "type": "string",
            "format": "uuid",
            "required": true
          },
          {
            "in": "body",
            "name": "sqlEndpointRefreshMetadataRequest",
            "description": "Refresh SQL analytics endpoint request payload.",
            "schema": {
              "$ref": "./definitions.json#/definitions/SqlEndpointRefreshMetadataRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "schema": {
              "$ref": "./definitions.json#/definitions/TableSyncStatuses"
            }
          },
          "202": {
            "description": "Request accepted, SQL analytics table refresh in progress.",
            "headers": {
              "Location": {
                "description": "The URL of the operation status, which can be used to track the operation state.",
                "type": "string"
              },
              "x-ms-operation-id": {
                "description": "The operation ID which can be used with long running operations (LRO) APIs to track the operation state and get the result.",
                "type": "string",
                "format": "uuid"
              },
              "Retry-After": {
                "type": "integer",
                "description": "The number of seconds to wait before retrying the request."
              }
            }
          },
          "default": {
            "description": "Common error codes:\n\n* ItemNotFound - The requested item was not found.",
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Refresh all tables for a specified SQL analytics endpoint in a workspace": {
            "$ref": "./examples/RefreshAllTablesInSqlEndpoint.json"
          }
        }
      }
    }
  },
  "responses": {},
  "security": [],
  "tags": []
}