{
  "swagger": "2.0",
  "info": {
    "title": "Spark setting REST APIs",
    "version": "v1"
  },
  "schemes": [
    "https"
  ],
  "host": "api.fabric.microsoft.com",
  "basePath": "/v1",
  "paths": {
    "/workspaces/{workspaceId}/spark/settings": {
      "get": {
        "tags": [
          "WorkspaceSettings"
        ],
        "summary": "Get workspace spark settings.",
        "description": "## Permissions\n\nThe caller must have *viewer* or higher workspace role. \n\n## Required Delegated Scopes \n\nWorkspace.Read.All or Workspace.ReadWrite.All\n\n## Microsoft Entra supported identities\n\nThis API supports the Microsoft [identities](/rest/api/fabric/articles/identity-support) listed in this section.\n\n| Identity | Support |\n|-|-|\n| User | Yes |\n| [Service principal](/entra/identity-platform/app-objects-and-service-principals#service-principal-object) and [Managed identities](/entra/identity/managed-identities-azure-resources/overview) | Yes |\n\n## Interface",
        "operationId": "WorkspaceSettings_GetSparkSettings",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "description": "The workspace ID.",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "schema": {
              "$ref": "./definitions.json#/definitions/WorkspaceSparkSettings"
            }
          },
          "429": {
            "description": "The service rate limit was exceeded. The server returns a `Retry-After` header indicating, in seconds, how long the client must wait before sending additional requests.",
            "x-ms-error-response": true,
            "headers": {
              "Retry-After": {
                "type": "integer",
                "description": "The number of seconds to wait before retrying the request."
              }
            },
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Common error codes:\n\n* UnknownError - An error occurred.",
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get workspace Spark settings example": {
            "$ref": "./examples/GetWorkspaceSparkSettings.json"
          }
        }
      },
      "patch": {
        "tags": [
          "WorkspaceSettings"
        ],
        "summary": "Update workspace spark settings.",
        "description": "## Permissions\n\nThe caller must have *admin* workspace role.\n\n## Required Delegated Scopes \n\nWorkspace.ReadWrite.All\n\n## Microsoft Entra supported identities\n\nThis API supports the Microsoft [identities](/rest/api/fabric/articles/identity-support) listed in this section.\n\n| Identity | Support |\n|-|-|\n| User | Yes |\n| [Service principal](/entra/identity-platform/app-objects-and-service-principals#service-principal-object) and [Managed identities](/entra/identity/managed-identities-azure-resources/overview) | Yes |\n\n## Interface",
        "operationId": "WorkspaceSettings_UpdateSparkSettings",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "description": "The workspace ID.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "updateWorkspaceSettingsRequest",
            "in": "body",
            "description": "Update workspace Spark settings request payload.",
            "required": true,
            "schema": {
              "$ref": "./definitions.json#/definitions/UpdateWorkspaceSparkSettingsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "schema": {
              "$ref": "./definitions.json#/definitions/WorkspaceSparkSettings"
            }
          },
          "429": {
            "description": "The service rate limit was exceeded. The server returns a `Retry-After` header indicating, in seconds, how long the client must wait before sending additional requests.",
            "x-ms-error-response": true,
            "headers": {
              "Retry-After": {
                "type": "integer",
                "description": "The number of seconds to wait before retrying the request."
              }
            },
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Common error codes:\n\n* UnknownError - An error occurred.",
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update workspace Spark settings example": {
            "$ref": "./examples/UpdateWorkspaceSparkSettings.json"
          },
          "Update workspace Spark settings default pool using pool ID example": {
            "$ref": "./examples/UpdateWorkspaceSparkSettingsDefaultPoolWithId.json"
          }
        }
      }
    },
    "/workspaces/{workspaceId}/spark/pools": {
      "get": {
        "tags": [
          "CustomPools"
        ],
        "summary": "List custom pools.",
        "description": "## Permissions\n\nThe caller must have *viewer* or higher workspace role. \n\n## Required Delegated Scopes \n\nWorkspace.Read.All or Workspace.ReadWrite.All\n\n## Microsoft Entra supported identities\n\nThis API supports the Microsoft [identities](/rest/api/fabric/articles/identity-support) listed in this section.\n\n| Identity | Support |\n|-|-|\n| User | Yes |\n| [Service principal](/entra/identity-platform/app-objects-and-service-principals#service-principal-object) and [Managed identities](/entra/identity/managed-identities-azure-resources/overview) | Yes |\n\n## Interface",
        "operationId": "CustomPools_ListWorkspaceCustomPools",
        "x-ms-pageable": {
          "nextLinkName": "continuationUri",
          "itemName": "value"
        },
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "description": "The workspace ID.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "query",
            "name": "continuationToken",
            "description": "Continuation token. Used to get the next items in the list.",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "schema": {
              "$ref": "./definitions.json#/definitions/CustomPools"
            }
          },
          "429": {
            "description": "The service rate limit was exceeded. The server returns a `Retry-After` header indicating, in seconds, how long the client must wait before sending additional requests.",
            "x-ms-error-response": true,
            "headers": {
              "Retry-After": {
                "type": "integer",
                "description": "The number of seconds to wait before retrying the request."
              }
            },
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Common error codes:\n\n* UnknownError - An error occurred.",
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List custom pools example": {
            "$ref": "./examples/ListCustomPools.json"
          },
          "List custom pools with continuation example": {
            "$ref": "./examples/ListCustomPoolsWithContinuation.json"
          }
        }
      },
      "post": {
        "tags": [
          "CustomPools"
        ],
        "summary": "Create custom pool.",
        "description": "## Permissions\n\nThe caller must have *admin* workspace role.\n\n## Required Delegated Scopes \n\nWorkspace.ReadWrite.All\n\n## Microsoft Entra supported identities\n\nThis API supports the Microsoft [identities](/rest/api/fabric/articles/identity-support) listed in this section.\n\n| Identity | Support |\n|-|-|\n| User | Yes |\n| [Service principal](/entra/identity-platform/app-objects-and-service-principals#service-principal-object) and [Managed identities](/entra/identity/managed-identities-azure-resources/overview) | Yes |\n\n## Interface",
        "operationId": "CustomPools_CreateWorkspaceCustomPool",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "description": "The workspace ID.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "createCustomPoolRequest",
            "in": "body",
            "description": "Create custom pool request payload.",
            "required": true,
            "schema": {
              "$ref": "./definitions.json#/definitions/CreateCustomPoolRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Request completed successfully.",
            "schema": {
              "$ref": "./definitions.json#/definitions/CustomPool"
            },
            "headers": {
              "Location": {
                "description": "The URL of the newly created pool.",
                "type": "string"
              }
            }
          },
          "429": {
            "description": "The service rate limit was exceeded. The server returns a `Retry-After` header indicating, in seconds, how long the client must wait before sending additional requests.",
            "x-ms-error-response": true,
            "headers": {
              "Retry-After": {
                "type": "integer",
                "description": "The number of seconds to wait before retrying the request."
              }
            },
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Common error codes:\n\n* UnknownError - An error occurred.",
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create custom pool example": {
            "$ref": "./examples/CreateCustomPool.json"
          }
        }
      }
    },
    "/workspaces/{workspaceId}/spark/pools/{poolId}": {
      "get": {
        "tags": [
          "CustomPools"
        ],
        "summary": "Get custom pool.",
        "description": "## Permissions\n\nThe caller must have *viewer* or higher workspace role. \n\n## Required Delegated Scopes \n\nWorkspace.Read.All or Workspace.ReadWrite.All\n\n## Microsoft Entra supported identities\n\nThis API supports the Microsoft [identities](/rest/api/fabric/articles/identity-support) listed in this section.\n\n| Identity | Support |\n|-|-|\n| User | Yes |\n| [Service principal](/entra/identity-platform/app-objects-and-service-principals#service-principal-object) and [Managed identities](/entra/identity/managed-identities-azure-resources/overview) | Yes |\n\n## Interface",
        "operationId": "CustomPools_GetWorkspaceCustomPool",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "description": "The workspace ID.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "poolId",
            "in": "path",
            "description": "The custom pool ID.",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "schema": {
              "$ref": "./definitions.json#/definitions/CustomPool"
            }
          },
          "429": {
            "description": "The service rate limit was exceeded. The server returns a `Retry-After` header indicating, in seconds, how long the client must wait before sending additional requests.",
            "x-ms-error-response": true,
            "headers": {
              "Retry-After": {
                "type": "integer",
                "description": "The number of seconds to wait before retrying the request."
              }
            },
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Common error codes:\n\n* UnknownError - An error occurred.",
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get custom pool example": {
            "$ref": "./examples/GetCustomPool.json"
          }
        }
      },
      "delete": {
        "tags": [
          "CustomPools"
        ],
        "summary": "Delete custom pool.",
        "description": "## Permissions\n\nThe caller must have *admin* workspace role. \n\n## Required Delegated Scopes \n\nWorkspace.ReadWrite.All\n\n## Microsoft Entra supported identities\n\nThis API supports the Microsoft [identities](/rest/api/fabric/articles/identity-support) listed in this section.\n\n| Identity | Support |\n|-|-|\n| User | Yes |\n| [Service principal](/entra/identity-platform/app-objects-and-service-principals#service-principal-object) and [Managed identities](/entra/identity/managed-identities-azure-resources/overview) | Yes |\n\n## Interface",
        "operationId": "CustomPools_DeleteWorkspaceCustomPool",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "description": "The workspace ID.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "poolId",
            "in": "path",
            "description": "The custom pool ID.",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Request completed successfully."
          },
          "429": {
            "description": "The service rate limit was exceeded. The server returns a `Retry-After` header indicating, in seconds, how long the client must wait before sending additional requests.",
            "x-ms-error-response": true,
            "headers": {
              "Retry-After": {
                "type": "integer",
                "description": "The number of seconds to wait before retrying the request."
              }
            },
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Common error codes:\n\n* UnknownError - An error occurred.",
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete custom pool example": {
            "$ref": "./examples/DeleteCustomPool.json"
          }
        }
      },
      "patch": {
        "tags": [
          "CustomPools"
        ],
        "summary": "Update custom pool.",
        "description": "## Permissions\n\nThe caller must have *admin* workspace role. \n\n## Required Delegated Scopes \n\nWorkspace.ReadWrite.All\n\n## Microsoft Entra supported identities\n\nThis API supports the Microsoft [identities](/rest/api/fabric/articles/identity-support) listed in this section.\n\n| Identity | Support |\n|-|-|\n| User | Yes |\n| [Service principal](/entra/identity-platform/app-objects-and-service-principals#service-principal-object) and [Managed identities](/entra/identity/managed-identities-azure-resources/overview) | Yes |\n\n## Interface",
        "operationId": "CustomPools_UpdateWorkspaceCustomPool",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "description": "The workspace ID.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "poolId",
            "in": "path",
            "description": "The custom pool ID.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "updateCustomPoolRequest",
            "in": "body",
            "description": "Update custom pool request payload.",
            "required": true,
            "schema": {
              "$ref": "./definitions.json#/definitions/UpdateCustomPoolRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "schema": {
              "$ref": "./definitions.json#/definitions/CustomPool"
            }
          },
          "429": {
            "description": "The service rate limit was exceeded. The server returns a `Retry-After` header indicating, in seconds, how long the client must wait before sending additional requests.",
            "x-ms-error-response": true,
            "headers": {
              "Retry-After": {
                "type": "integer",
                "description": "The number of seconds to wait before retrying the request."
              }
            },
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Common error codes:\n\n* UnknownError - An error occurred.",
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update custom pool example": {
            "$ref": "./examples/UpdateCustomPool.json"
          }
        }
      }
    },
    "/capacities/{capacityId}/spark/settings?beta=true": {
      "get": {
        "tags": [
          "CapacitySettings"
        ],
        "summary": "Get capacity spark settings.",
        "description": "> [!NOTE]\n> This API is part of a Beta release and is provided for evaluation and development purposes only. It may change based on feedback and is not recommended for production use.\n**When calling this API, callers must specify `true` as the value for the query parameter `beta`.**\n\n## Permissions\n\nThe caller must be a capacity contributor or a capacity admin. \n\n## Required Delegated Scopes \n\nCapacity.Read.All or Capacity.ReadWrite.All\n\n## Microsoft Entra supported identities\n\nThis API supports the Microsoft [identities](/rest/api/fabric/articles/identity-support) listed in this section.\n\n| Identity | Support |\n|-|-|\n| User | Yes |\n| [Service principal](/entra/identity-platform/app-objects-and-service-principals#service-principal-object) and [Managed identities](/entra/identity/managed-identities-azure-resources/overview) | Yes |\n\n## Interface",
        "operationId": "CapacitySettings_GetSparkSettings_(beta)",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "capacityId",
            "in": "path",
            "description": "The capacity ID.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "beta",
            "in": "query",
            "description": "This required parameter must be set to `true` to access this API, which is currently in beta.",
            "required": true,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "schema": {
              "$ref": "./definitions.json#/definitions/CapacitySparkSettings"
            }
          },
          "429": {
            "description": "The service rate limit was exceeded. The server returns a `Retry-After` header indicating, in seconds, how long the client must wait before sending additional requests.",
            "x-ms-error-response": true,
            "headers": {
              "Retry-After": {
                "type": "integer",
                "description": "The number of seconds to wait before retrying the request."
              }
            },
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Common error codes:\n\n* UnknownError - An error occurred.",
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get capacity Spark settings example": {
            "$ref": "./examples/GetCapacitySparkSettings.json"
          }
        }
      },
      "patch": {
        "tags": [
          "CapacitySettings"
        ],
        "summary": "Update capacity spark settings.",
        "description": "> [!NOTE]\n> This API is part of a Beta release and is provided for evaluation and development purposes only. It may change based on feedback and is not recommended for production use.\n**When calling this API, callers must specify `true` as the value for the query parameter `beta`.**\n\n## Permissions\n\nThe caller must be a capacity admin.\n\n## Required Delegated Scopes \n\nCapacity.ReadWrite.All\n\n## Microsoft Entra supported identities\n\nThis API supports the Microsoft [identities](/rest/api/fabric/articles/identity-support) listed in this section.\n\n| Identity | Support |\n|-|-|\n| User | Yes |\n| [Service principal](/entra/identity-platform/app-objects-and-service-principals#service-principal-object) and [Managed identities](/entra/identity/managed-identities-azure-resources/overview) | Yes |\n\n## Interface",
        "operationId": "CapacitySettings_UpdateSparkSettings_(beta)",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "capacityId",
            "in": "path",
            "description": "The capacity ID.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "beta",
            "in": "query",
            "description": "This required parameter must be set to `true` to access this API, which is currently in beta.",
            "required": true,
            "type": "boolean"
          },
          {
            "name": "updateCapacitySettingsRequest",
            "in": "body",
            "description": "Update capacity Spark settings request payload.",
            "required": true,
            "schema": {
              "$ref": "./definitions.json#/definitions/UpdateCapacitySparkSettingsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "schema": {
              "$ref": "./definitions.json#/definitions/CapacitySparkSettings"
            }
          },
          "429": {
            "description": "The service rate limit was exceeded. The server returns a `Retry-After` header indicating, in seconds, how long the client must wait before sending additional requests.",
            "x-ms-error-response": true,
            "headers": {
              "Retry-After": {
                "type": "integer",
                "description": "The number of seconds to wait before retrying the request."
              }
            },
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Common error codes:\n\n* UnknownError - An error occurred.",
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update capacity Spark settings example": {
            "$ref": "./examples/UpdateCapacitySparkSettings.json"
          }
        }
      }
    },
    "/capacities/{capacityId}/spark/pools?beta=true": {
      "get": {
        "tags": [
          "CustomPools"
        ],
        "summary": "List custom pools.",
        "description": "> [!NOTE]\n> This API is part of a Beta release and is provided for evaluation and development purposes only. It may change based on feedback and is not recommended for production use.\n**When calling this API, callers must specify `true` as the value for the query parameter `beta`.**\n\n## Permissions\n\nThe caller must be a capacity contributor or a capacity admin. \n\n## Required Delegated Scopes \n\nCapacity.Read.All or Capacity.ReadWrite.All\n\n## Microsoft Entra supported identities\n\nThis API supports the Microsoft [identities](/rest/api/fabric/articles/identity-support) listed in this section.\n\n| Identity | Support |\n|-|-|\n| User | Yes |\n| [Service principal](/entra/identity-platform/app-objects-and-service-principals#service-principal-object) and [Managed identities](/entra/identity/managed-identities-azure-resources/overview) | Yes |\n\n## Interface",
        "operationId": "CustomPools_ListCapacityCustomPools_(beta)",
        "x-ms-pageable": {
          "nextLinkName": "continuationUri",
          "itemName": "value"
        },
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "capacityId",
            "in": "path",
            "description": "The capacity ID.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "beta",
            "in": "query",
            "description": "This required parameter must be set to `true` to access this API, which is currently in beta.",
            "required": true,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "continuationToken",
            "description": "Continuation token. Used to get the next items in the list.",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "schema": {
              "$ref": "./definitions.json#/definitions/CustomPools"
            }
          },
          "429": {
            "description": "The service rate limit was exceeded. The server returns a `Retry-After` header indicating, in seconds, how long the client must wait before sending additional requests.",
            "x-ms-error-response": true,
            "headers": {
              "Retry-After": {
                "type": "integer",
                "description": "The number of seconds to wait before retrying the request."
              }
            },
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Common error codes:\n\n* UnknownError - An error occurred.",
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List custom pools example": {
            "$ref": "./examples/ListCapacityCustomPools.json"
          },
          "List custom pools with continuation example": {
            "$ref": "./examples/ListCapacityCustomPoolsWithContinuation.json"
          }
        }
      },
      "post": {
        "tags": [
          "CustomPools"
        ],
        "summary": "Create custom pool.",
        "description": "> [!NOTE]\n> This API is part of a Beta release and is provided for evaluation and development purposes only. It may change based on feedback and is not recommended for production use.\n**When calling this API, callers must specify `true` as the value for the query parameter `beta`.**\n\n## Permissions\n\nThe caller must be a capacity admin.\n\n## Required Delegated Scopes \n\nCapacity.ReadWrite.All\n\n## Microsoft Entra supported identities\n\nThis API supports the Microsoft [identities](/rest/api/fabric/articles/identity-support) listed in this section.\n\n| Identity | Support |\n|-|-|\n| User | Yes |\n| [Service principal](/entra/identity-platform/app-objects-and-service-principals#service-principal-object) and [Managed identities](/entra/identity/managed-identities-azure-resources/overview) | Yes |\n\n## Interface",
        "operationId": "CustomPools_CreateCapacityCustomPool_(beta)",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "capacityId",
            "in": "path",
            "description": "The capacity ID.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "beta",
            "in": "query",
            "description": "This required parameter must be set to `true` to access this API, which is currently in beta.",
            "required": true,
            "type": "boolean"
          },
          {
            "name": "createCustomPoolRequest",
            "in": "body",
            "description": "Create custom pool request payload.",
            "required": true,
            "schema": {
              "$ref": "./definitions.json#/definitions/CreateCustomPoolRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Request completed successfully.\n\n---\n**Headers:**\n\n**Location** `string` - The URL of the newly created pool.",
            "schema": {
              "$ref": "./definitions.json#/definitions/CustomPool"
            }
          },
          "429": {
            "description": "The service rate limit was exceeded. The server returns a `Retry-After` header indicating, in seconds, how long the client must wait before sending additional requests.",
            "x-ms-error-response": true,
            "headers": {
              "Retry-After": {
                "type": "integer",
                "description": "The number of seconds to wait before retrying the request."
              }
            },
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Common error codes:\n\n* UnknownError - An error occurred.",
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create custom pool example": {
            "$ref": "./examples/CreateCapacityCustomPool.json"
          }
        }
      }
    },
    "/capacities/{capacityId}/spark/pools/{poolId}?beta=true": {
      "get": {
        "tags": [
          "CustomPools"
        ],
        "summary": "Get custom pool.",
        "description": "> [!NOTE]\n> This API is part of a Beta release and is provided for evaluation and development purposes only. It may change based on feedback and is not recommended for production use.\n**When calling this API, callers must specify `true` as the value for the query parameter `beta`.**\n\n## Permissions\n\nThe caller must be a capacity contributor or a capacity admin. \n\n## Required Delegated Scopes \n\nCapacity.Read.All or Capacity.ReadWrite.All\n\n## Microsoft Entra supported identities\n\nThis API supports the Microsoft [identities](/rest/api/fabric/articles/identity-support) listed in this section.\n\n| Identity | Support |\n|-|-|\n| User | Yes |\n| [Service principal](/entra/identity-platform/app-objects-and-service-principals#service-principal-object) and [Managed identities](/entra/identity/managed-identities-azure-resources/overview) | Yes |\n\n## Interface",
        "operationId": "CustomPools_GetCapacityCustomPool_(beta)",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "capacityId",
            "in": "path",
            "description": "The capacity ID.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "poolId",
            "in": "path",
            "description": "The custom pool ID.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "beta",
            "in": "query",
            "description": "This required parameter must be set to `true` to access this API, which is currently in beta.",
            "required": true,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "schema": {
              "$ref": "./definitions.json#/definitions/CustomPool"
            }
          },
          "429": {
            "description": "The service rate limit was exceeded. The server returns a `Retry-After` header indicating, in seconds, how long the client must wait before sending additional requests.",
            "x-ms-error-response": true,
            "headers": {
              "Retry-After": {
                "type": "integer",
                "description": "The number of seconds to wait before retrying the request."
              }
            },
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Common error codes:\n\n* UnknownError - An error occurred.",
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get custom pool example": {
            "$ref": "./examples/GetCapacityCustomPool.json"
          }
        }
      },
      "delete": {
        "tags": [
          "CustomPools"
        ],
        "summary": "Delete custom pool.",
        "description": "> [!NOTE]\n> This API is part of a Beta release and is provided for evaluation and development purposes only. It may change based on feedback and is not recommended for production use.\n**When calling this API, callers must specify `true` as the value for the query parameter `beta`.**\n\n## Permissions\n\nThe caller must be a capacity admin. \n\n## Required Delegated Scopes \n\nCapacity.ReadWrite.All\n\n## Microsoft Entra supported identities\n\nThis API supports the Microsoft [identities](/rest/api/fabric/articles/identity-support) listed in this section.\n\n| Identity | Support |\n|-|-|\n| User | Yes |\n| [Service principal](/entra/identity-platform/app-objects-and-service-principals#service-principal-object) and [Managed identities](/entra/identity/managed-identities-azure-resources/overview) | Yes |\n\n## Interface",
        "operationId": "CustomPools_DeleteCapacityCustomPool_(beta)",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "capacityId",
            "in": "path",
            "description": "The capacity ID.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "poolId",
            "in": "path",
            "description": "The custom pool ID.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "beta",
            "in": "query",
            "description": "This required parameter must be set to `true` to access this API, which is currently in beta.",
            "required": true,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Request completed successfully."
          },
          "429": {
            "description": "The service rate limit was exceeded. The server returns a `Retry-After` header indicating, in seconds, how long the client must wait before sending additional requests.",
            "x-ms-error-response": true,
            "headers": {
              "Retry-After": {
                "type": "integer",
                "description": "The number of seconds to wait before retrying the request."
              }
            },
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Common error codes:\n\n* UnknownError - An error occurred.",
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete custom pool example": {
            "$ref": "./examples/DeleteCapacityCustomPool.json"
          }
        }
      },
      "patch": {
        "tags": [
          "CustomPools"
        ],
        "summary": "Update custom pool.",
        "description": "> [!NOTE]\n> This API is part of a Beta release and is provided for evaluation and development purposes only. It may change based on feedback and is not recommended for production use.\n**When calling this API, callers must specify `true` as the value for the query parameter `beta`.**\n\n## Permissions\n\nThe caller must be a capacity admin. \n\n## Required Delegated Scopes \n\nCapacity.ReadWrite.All\n\n## Microsoft Entra supported identities\n\nThis API supports the Microsoft [identities](/rest/api/fabric/articles/identity-support) listed in this section.\n\n| Identity | Support |\n|-|-|\n| User | Yes |\n| [Service principal](/entra/identity-platform/app-objects-and-service-principals#service-principal-object) and [Managed identities](/entra/identity/managed-identities-azure-resources/overview) | Yes |\n\n## Interface",
        "operationId": "CustomPools_UpdateCapacityCustomPool_(beta)",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "capacityId",
            "in": "path",
            "description": "The capacity ID.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "poolId",
            "in": "path",
            "description": "The custom pool ID.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "beta",
            "in": "query",
            "description": "This required parameter must be set to `true` to access this API, which is currently in beta.",
            "required": true,
            "type": "boolean"
          },
          {
            "name": "updateCustomPoolRequest",
            "in": "body",
            "description": "Update custom pool request payload.",
            "required": true,
            "schema": {
              "$ref": "./definitions.json#/definitions/UpdateCustomPoolRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "schema": {
              "$ref": "./definitions.json#/definitions/CustomPool"
            }
          },
          "429": {
            "description": "The service rate limit was exceeded. The server returns a `Retry-After` header indicating, in seconds, how long the client must wait before sending additional requests.",
            "x-ms-error-response": true,
            "headers": {
              "Retry-After": {
                "type": "integer",
                "description": "The number of seconds to wait before retrying the request."
              }
            },
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Common error codes:\n\n* UnknownError - An error occurred.",
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update custom pool example": {
            "$ref": "./examples/UpdateCapacityCustomPool.json"
          }
        }
      }
    },
    "/workspaces/{workspaceId}/spark/livySessions": {
      "get": {
          "tags": [
              "LivySessions"
          ],
          "summary": "Returns a list of livy sessions from the specified workspace.",
          "description": "This API supports [pagination](/rest/api/fabric/articles/pagination).\n\n## Permissions\n\nThe caller must have *viewer* or higher workspace role. \n\n## Required Delegated Scopes \n\nWorkspace.Read.All or Workspace.ReadWrite.All\n\n## Microsoft Entra supported identities\n\nThis API supports the Microsoft [identities](/rest/api/fabric/articles/identity-support) listed in this section.\n\n| Identity | Support |\n|-|-|\n| User | Yes |\n| [Service principal](/entra/identity-platform/app-objects-and-service-principals#service-principal-object) and [Managed identities](/entra/identity/managed-identities-azure-resources/overview) | Yes |\n\n## Interface",
          "operationId": "LivySessions_ListLivySessions",
          "x-ms-pageable": {
              "nextLinkName": "continuationUri"
          },
          "produces": [
              "application/json"
          ],
          "parameters": [
              {
                  "in": "path",
                  "name": "workspaceId",
                  "description": "The workspace identifier.",
                  "required": true,
                  "type": "string",
                  "format": "uuid"
              },
              {
                  "in": "query",
                  "name": "continuationToken",
                  "description": "Token to retrieve the next page of results, if available.",
                  "type": "string",
                  "required": false
              }
          ],
          "responses": {
              "200": {
                  "description": "OK -- Returns a list of all livy sessions associated to an itemId.",
                  "schema": {
                      "$ref": "../common/spark_definitions.json#/definitions/LivySessions"
                  }
              },
              "429": {
                "description": "The service rate limit was exceeded. The server returns a `Retry-After` header indicating, in seconds, how long the client must wait before sending additional requests.",
                "x-ms-error-response": true,
                "headers": {
                  "Retry-After": {
                    "type": "integer",
                    "description": "The number of seconds to wait before retrying the request."
                  }
                },
                "schema": {
                  "$ref": "../common/definitions.json#/definitions/ErrorResponse"
                }
              },
              "default": {
                  "description": "Common error codes:\n\n* UnknownError - An error occurred.",
                  "schema": {
                      "$ref": "../common/definitions.json#/definitions/ErrorResponse"
                  }
              }
          },
          "x-ms-examples": {
              "List all livy sessions example": {
                  "$ref": "./examples/ListSessionsInWorkspace.json"
              }
          }
      }
    },
    "/workspaces/{workspaceId}/spark/livySessions?beta=true": {
      "get": {
          "tags": [
              "LivySessions"
          ],
          "summary": "Returns a list of livy sessions from the specified workspace (beta).",
          "description": "[!NOTE]\n> This API is part of a Beta release and is provided for evaluation and development purposes only. It may change based on feedback and is not recommended for production use.\n\n**When calling this API, callers must specify `true` as the value for the query parameter `beta`.**\n\n This API supports [pagination](/rest/api/fabric/articles/pagination).\n\n## Permissions\n\nThe caller must have *viewer* or higher workspace role. \n\n## Required Delegated Scopes \n\nWorkspace.Read.All or Workspace.ReadWrite.All\n\n## Microsoft Entra supported identities\n\nThis API supports the Microsoft [identities](/rest/api/fabric/articles/identity-support) listed in this section.\n\n| Identity | Support |\n|-|-|\n| User | Yes |\n| [Service principal](/entra/identity-platform/app-objects-and-service-principals#service-principal-object) and [Managed identities](/entra/identity/managed-identities-azure-resources/overview) | Yes |\n\n## Interface",
          "operationId": "LivySessions_List_Livy_Sessions_(beta)",
          "x-ms-pageable": {
              "nextLinkName": "continuationUri"
          },
          "produces": [
              "application/json"
          ],
          "parameters": [
              {
                  "in": "path",
                  "name": "workspaceId",
                  "description": "The workspace identifier.",
                  "format": "uuid",
                  "type": "string",
                  "required": true
              },
              {
                  "in": "query",
                  "name": "beta",
                  "description": "This required parameter must be set to `true` to access this API, which is currently in beta.",
                  "type": "boolean",
                  "required": true
              },
              {
                  "in": "query",
                  "name": "submittedDateTime",
                  "description": "Submitted date time filter. Filter the sessions based on the submitted date time in UTC, using the YYYY-MM-DDTHH:mm:ssZ format.",
                  "type": "string",
                  "format": "date-time",
                  "required": false
              },
              {
                  "in": "query",
                  "name": "endDateTime",
                  "description": "Ended date time filter. Filter the sessions based on the ended date time in UTC, using the YYYY-MM-DDTHH:mm:ssZ format.",
                  "type": "string",
                  "format": "date-time",
                  "required": false
              },
              {
                  "in": "query",
                  "name": "submitter.Id",
                  "description": "The GUID value of the user who submitted the session.",
                  "type": "string",
                  "format": "uuid",
                  "required": false
              },
              {
                  "in": "query",
                  "name": "state",
                  "description": "The state of the session. Possible values are: `NotStarted`, `InProgress`, `Cancelled`, `Failed`, `Succeeded`, `Unknown`. This value maps to the `state` field in the response.",
                  "type": "string",
                  "required": false
              },
              {
                  "in": "query",
                  "name": "continuationToken",
                  "description": "Token to retrieve the next page of results, if available.",
                  "type": "string",
                  "required": false
              }
          ],
          "responses": {
              "200": {
                  "description": "OK -- Returns a list of all livy sessions associated to an itemId.",
                  "schema": {
                      "$ref": "../common/spark_definitions.json#/definitions/LivySessions"
                  }
              },
              "429": {
                "description": "The service rate limit was exceeded. The server returns a `Retry-After` header indicating, in seconds, how long the client must wait before sending additional requests.",
                "x-ms-error-response": true,
                "headers": {
                  "Retry-After": {
                    "type": "integer",
                    "description": "The number of seconds to wait before retrying the request."
                  }
                },
                "schema": {
                  "$ref": "../common/definitions.json#/definitions/ErrorResponse"
                }
              },
              "default": {
                  "description": "Common error codes:\n\n* UnknownError - An error occurred.",
                  "schema": {
                      "$ref": "../common/definitions.json#/definitions/ErrorResponse"
                  }
              }
          },
          "x-ms-examples": {
              "List all livy sessions (Beta) example": {
                  "$ref": "./examples/ListSessionsInItemId_beta.json"
              }
          }
      }
    }
  },
  "responses": {},
  "security": [],
  "tags": []
}