{
  "swagger": "2.0",
  "info": {
    "title": "Policy Set REST APIs",
    "version": "v1"
  },
  "schemes": [
    "https"
  ],
  "host": "api.fabric.microsoft.com",
  "basePath": "/v1",
  "paths": {
    "/workspaces/{workspaceId}/policySets": {
      "get": {
        "summary": "Returns a list of policy sets from the specified workspace.",
        "description": "> [!NOTE]\n> Policy set item is currently in Preview ([learn more](/fabric/fundamentals/preview)).\n\nThis API supports [pagination](/rest/api/fabric/articles/pagination).\n\n## Permissions\n\nThe caller must have a *viewer* workspace role.\n\n## Required Delegated Scopes\n\nWorkspace.Read.All or Workspace.ReadWrite.All\n\n## Microsoft Entra supported identities\n\nThis API supports the Microsoft [identities](/rest/api/fabric/articles/identity-support) listed in this section.\n\n| Identity | Support |\n|-|-|\n| User | Yes |\n| [Service principal](/entra/identity-platform/app-objects-and-service-principals#service-principal-object) and [Managed identities](/entra/identity/managed-identities-azure-resources/overview) | Yes |\n\n## Interface",
        "tags": [
          "Items"
        ],
        "operationId": "Items_ListPolicySets",
        "x-ms-pageable": {
          "nextLinkName": "continuationUri"
        },
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workspaceId",
            "description": "The workspace ID.",
            "type": "string",
            "format": "uuid",
            "required": true
          },
          {
            "in": "query",
            "name": "recursive",
            "description": "Lists policy sets in a folder and its nested folders, or just a folder only. True - All policy sets in the folder and its nested folders are listed, False - Only policy sets in the folder are listed. The default value is true.",
            "type": "boolean",
            "required": false
          },
          {
            "in": "query",
            "name": "rootFolderId",
            "description": "This parameter allows users to filter policy sets based on a specific root folder. If not provided, the workspace is used as the root folder.",
            "type": "string",
            "format": "uuid",
            "required": false
          },
          {
            "in": "query",
            "name": "continuationToken",
            "description": "A token for retrieving the next page of results.",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "schema": {
              "$ref": "./definitions.json#/definitions/PolicySets"
            }
          },
          "429": {
            "x-ms-error-response": true,
            "description": "The service rate limit was exceeded. The server returns a `Retry-After` header indicating, in seconds, how long the client must wait before sending additional requests.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "description": "The number of seconds to wait before retrying the request."
              }
            },
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Common error codes:\n\n* InvalidItemType - Invalid item type.",
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List policy sets in workspace example": {
            "$ref": "./examples/ListPolicySetsInWorkspace.json"
          }
        }
      },
      "post": {
        "summary": "Creates a policy set in the specified workspace.",
        "description": "> [!NOTE]\n> Policy set item is currently in Preview ([learn more](/fabric/fundamentals/preview)).\n\nTo create policySet with definition, refer to Policy Set definition [article](/rest/api/fabric/articles/item-management/definitions/policyset-definition).\n\nThis API supports [long running operations (LRO)](/rest/api/fabric/articles/long-running-operation)\n\n## Permissions \nThe caller must have a *contributor* workspace role.\n\n## Required Delegated Scopes\n\nItem.ReadWrite.All \n\n## Limitations \n- To create a policy set the workspace must be on a supported Fabric capacity. For more information see: [Microsoft Fabric license types](/fabric/enterprise/licenses#microsoft-fabric-license-types).\n\n- A maximum of 50 policies of each type is allowed within a policy set.\n\n## Microsoft Entra supported identities\n\nThis API supports the Microsoft [identities](/rest/api/fabric/articles/identity-support) listed in this section.\n\n| Identity | Support |\n|-|-|\n| User | Yes |\n| [Service principal](/entra/identity-platform/app-objects-and-service-principals#service-principal-object) and [Managed identities](/entra/identity/managed-identities-azure-resources/overview) | Yes |\n\n## Interface",
        "tags": [
          "Items"
        ],
        "operationId": "Items_CreatePolicySet",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "x-ms-fabric-sdk-long-running-operation": true,
        "parameters": [
          {
            "in": "path",
            "name": "workspaceId",
            "description": "The workspace ID.",
            "type": "string",
            "format": "uuid",
            "required": true
          },
          {
            "in": "body",
            "name": "createPolicySetRequest",
            "description": "Create item request payload.",
            "schema": {
              "$ref": "./definitions.json#/definitions/CreatePolicySetRequest"
            },
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "Successfully created",
            "schema": {
              "$ref": "./definitions.json#/definitions/PolicySet"
            }
          },
          "202": {
            "description": "Request accepted, policy set provisioning in progress.",
            "headers": {
              "Location": {
                "description": "The URL of the operation status, which can be used to track the operation state.",
                "type": "string"
              },
              "x-ms-operation-id": {
                "description": "The operation ID which can be used with long running operations (LRO) APIs to track the operation state and get the result.",
                "type": "string",
                "format": "uuid"
              },
              "Retry-After": {
                "type": "integer",
                "description": "The number of seconds to wait before retrying the request."
              }
            }
          },
          "429": {
            "x-ms-error-response": true,
            "description": "The service rate limit was exceeded. The server returns a `Retry-After` header indicating, in seconds, how long the client must wait before sending additional requests.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "description": "The number of seconds to wait before retrying the request."
              }
            },
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Common error codes:\n\n* InvalidItemType - Item type is invalid\n\n* ItemDisplayNameAlreadyInUse - Item display name is already used.\n\n* CorruptedPayload - The provided payload is corrupted.\n\n* WorkspaceItemsLimitExceeded - Workspace item limit exceeded.",
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create a policy set with creation payload example": {
            "$ref": "./examples/CreatePolicySet.json"
          },
          "Create a policy set with item definition example": {
            "$ref": "./examples/CreatePolicySetWithDefinition.json"
          }
        }
      }
    },
    "/workspaces/{workspaceId}/policySets/{policySetId}": {
      "get": {
        "summary": "Returns properties of the specified policy set.",
        "description": "> [!NOTE]\n> Policy set item is currently in Preview ([learn more](/fabric/fundamentals/preview)).\n\n## Permissions\n\nThe caller must have *read* permissions for the policy set.\n\n## Required Delegated Scopes\n\nItem.Read.All or Item.ReadWrite.All\n\n## Microsoft Entra supported identities\n\nThis API supports the Microsoft [identities](/rest/api/fabric/articles/identity-support) listed in this section.\n\n| Identity | Support |\n|-|-|\n| User | Yes |\n| [Service principal](/entra/identity-platform/app-objects-and-service-principals#service-principal-object) and [Managed identities](/entra/identity/managed-identities-azure-resources/overview) | Yes |\n\n## Interface",
        "tags": [
          "Items"
        ],
        "operationId": "Items_GetPolicySet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workspaceId",
            "description": "The workspace ID.",
            "type": "string",
            "format": "uuid",
            "required": true
          },
          {
            "in": "path",
            "name": "policySetId",
            "description": "The policy set ID.",
            "type": "string",
            "format": "uuid",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "schema": {
              "$ref": "./definitions.json#/definitions/PolicySet"
            }
          },
          "429": {
            "x-ms-error-response": true,
            "description": "The service rate limit was exceeded. The server returns a `Retry-After` header indicating, in seconds, how long the client must wait before sending additional requests.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "description": "The number of seconds to wait before retrying the request."
              }
            },
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Common error codes:\n\n* ItemNotFound - The requested item was not found.",
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a policy set example": {
            "$ref": "./examples/GetPolicySet.json"
          }
        }
      },
      "patch": {
        "summary": "Updates the properties of the specified policy set.",
        "description": "> [!NOTE]\n> Policy set item is currently in Preview ([learn more](/fabric/fundamentals/preview)).\n\n## Permissions\n\nThe caller must have *read and write* permissions for the policy set.\n\n## Required Delegated Scopes\n\nItem.ReadWrite.All\n\n## Microsoft Entra supported identities\n\nThis API supports the Microsoft [identities](/rest/api/fabric/articles/identity-support) listed in this section.\n\n| Identity | Support |\n|-|-|\n| User | Yes |\n| [Service principal](/entra/identity-platform/app-objects-and-service-principals#service-principal-object) and [Managed identities](/entra/identity/managed-identities-azure-resources/overview) | Yes |\n\n## Interface",
        "tags": [
          "Items"
        ],
        "operationId": "Items_UpdatePolicySet",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workspaceId",
            "description": "The workspace ID.",
            "type": "string",
            "format": "uuid",
            "required": true
          },
          {
            "in": "path",
            "name": "policySetId",
            "description": "The policy set ID.",
            "type": "string",
            "format": "uuid",
            "required": true
          },
          {
            "in": "body",
            "name": "updatePolicySetRequest",
            "description": "Update policy set request payload.",
            "schema": {
              "$ref": "./definitions.json#/definitions/UpdatePolicySetRequest"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "schema": {
              "$ref": "./definitions.json#/definitions/PolicySet"
            }
          },
          "429": {
            "x-ms-error-response": true,
            "description": "The service rate limit was exceeded. The server returns a `Retry-After` header indicating, in seconds, how long the client must wait before sending additional requests.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "description": "The number of seconds to wait before retrying the request."
              }
            },
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Common error codes:\n\n* ItemNotFound - The requested item was not found.\n\n* InvalidRequest - Invalid update request.",
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update a policy set example": {
            "$ref": "./examples/UpdatePolicySet.json"
          }
        }
      },
      "delete": {
        "summary": "Deletes the specified policy set.",
        "description": "> [!NOTE]\n> Policy set item is currently in Preview ([learn more](/fabric/fundamentals/preview)).\n\n## Permissions\n\nThe caller must have *write* permissions for the policy set.\n\n## Required Delegated Scopes\n\nItem.ReadWrite.All\n\n## Microsoft Entra supported identities\n\nThis API supports the Microsoft [identities](/rest/api/fabric/articles/identity-support) listed in this section.\n\n| Identity | Support |\n|-|-|\n| User | Yes |\n| [Service principal](/entra/identity-platform/app-objects-and-service-principals#service-principal-object) and [Managed identities](/entra/identity/managed-identities-azure-resources/overview) | Yes |\n\n## Interface",
        "tags": [
          "Items"
        ],
        "operationId": "Items_DeletePolicySet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workspaceId",
            "description": "The workspace ID.",
            "type": "string",
            "format": "uuid",
            "required": true
          },
          {
            "in": "path",
            "name": "policySetId",
            "description": "The policy set ID.",
            "type": "string",
            "format": "uuid",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Request completed successfully."
          },
          "429": {
            "x-ms-error-response": true,
            "description": "The service rate limit was exceeded. The server returns a `Retry-After` header indicating, in seconds, how long the client must wait before sending additional requests.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "description": "The number of seconds to wait before retrying the request."
              }
            },
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Common error codes:\n\n* ItemNotFound - The requested item was not found.",
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a policy set example": {
            "$ref": "./examples/DeletePolicySet.json"
          }
        }
      }
    },
    "/workspaces/{workspaceId}/policySets/{policySetId}/getDefinition": {
      "post": {
        "summary": "Returns the specified policy set public definition.",
        "description": "> [!NOTE]\n> Policy set item is currently in Preview ([learn more](/fabric/fundamentals/preview)).\n\nThis API supports [long running operations (LRO)](/rest/api/fabric/articles/long-running-operation).\n\nWhen you get a PolicySet's public definition, the sensitivity label is not a part of the definition.\n\n## Permissions\n\nThe caller must have *read and write* permissions for the policy set.\n\n## Required Delegated Scopes\n\nItem.ReadWrite.All\n\n## Microsoft Entra supported identities\n\nThis API supports the Microsoft [identities](/rest/api/fabric/articles/identity-support) listed in this section.\n\n| Identity | Support |\n|-|-|\n| User | Yes |\n| [Service principal](/entra/identity-platform/app-objects-and-service-principals#service-principal-object) and [Managed identities](/entra/identity/managed-identities-azure-resources/overview) | Yes |\n\n## Interface",
        "tags": [
          "Items"
        ],
        "operationId": "Items_GetPolicySetDefinition",
        "produces": [
          "application/json"
        ],
        "x-ms-fabric-sdk-long-running-operation": true,
        "parameters": [
          {
            "in": "path",
            "name": "workspaceId",
            "description": "The workspace ID.",
            "type": "string",
            "format": "uuid",
            "required": true
          },
          {
            "in": "path",
            "name": "policySetId",
            "description": "The policy set ID.",
            "type": "string",
            "format": "uuid",
            "required": true
          },
          {
            "in": "query",
            "name": "format",
            "description": "The format of the policy set public definition. Supported format: `Beta`. Additional `format` types may be added over time.",
            "type": "string",
            "enum": [
              "Beta"
            ],
            "x-ms-enum": {
              "name": "PolicySetDefinitionFormat",
              "modelAsString": true,
              "values": [
                {
                  "value": "Beta",
                  "description": "The beta format for the PolicySet public definition, provided for evaluation and development purposes only. It may change based on feedback and is not recommended for production use."
                }
              ]
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "schema": {
              "$ref": "./definitions.json#/definitions/PolicySetDefinitionResponse"
            }
          },
          "202": {
            "description": "Request accepted. Retrieving the definition is in progress.",
            "headers": {
              "Location": {
                "description": "The URL of the operation status, which can be used to track the operation state.",
                "type": "string"
              },
              "x-ms-operation-id": {
                "description": "The operation ID which can be used with long running operations (LRO) APIs to track the operation state and get the result.",
                "type": "string",
                "format": "uuid"
              },
              "Retry-After": {
                "type": "integer",
                "description": "The number of seconds to wait before retrying the request."
              }
            }
          },
          "429": {
            "x-ms-error-response": true,
            "description": "The service rate limit was exceeded. The server returns a `Retry-After` header indicating, in seconds, how long the client must wait before sending additional requests.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "description": "The number of seconds to wait before retrying the request."
              }
            },
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Common error codes:\n\n* ItemNotFound - The requested item was not found.\n\n* OperationNotSupportedForItem - Operation not supported for requested item.",
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a policy set public definition example": {
            "$ref": "./examples/GetPolicySetDefinition.json"
          }
        }
      }
    },
    "/workspaces/{workspaceId}/policySets/{policySetId}/updateDefinition": {
      "post": {
        "summary": "Overrides the definition for the specified policy set.",
        "description": "> [!NOTE]\n> Policy set item is currently in Preview ([learn more](/fabric/fundamentals/preview)).\n\nThis API supports [long running operations (LRO)](/rest/api/fabric/articles/long-running-operation).\n\nUpdating the PolicySet's definition, does not affect its sensitivity label.\n\n## Permissions\n\nThe caller must have *read and write* permissions for the policy set.\n\n## Required Delegated Scopes\n\nItem.ReadWrite.All\n\n## Microsoft Entra supported identities\n\nThis API supports the Microsoft [identities](/rest/api/fabric/articles/identity-support) listed in this section.\n\n| Identity | Support |\n|-|-|\n| User | Yes |\n| [Service principal](/entra/identity-platform/app-objects-and-service-principals#service-principal-object) and [Managed identities](/entra/identity/managed-identities-azure-resources/overview) | Yes |\n\n## Interface",
        "tags": [
          "Items"
        ],
        "operationId": "Items_UpdatePolicySetDefinition",
        "produces": [
          "application/json"
        ],
        "x-ms-fabric-sdk-long-running-operation": true,
        "parameters": [
          {
            "in": "path",
            "name": "workspaceId",
            "description": "The workspace ID.",
            "type": "string",
            "format": "uuid",
            "required": true
          },
          {
            "in": "path",
            "name": "policySetId",
            "description": "The policy set ID.",
            "type": "string",
            "format": "uuid",
            "required": true
          },
          {
            "in": "query",
            "name": "updateMetadata",
            "description": "When set to true and the .platform file is provided as part of the definition, the item's metadata is updated using the metadata in the .platform file",
            "type": "boolean",
            "required": false
          },
          {
            "in": "body",
            "name": "updatePolicySetDefinitionRequest",
            "description": "Update policy set definition request payload.",
            "schema": {
              "$ref": "./definitions.json#/definitions/UpdatePolicySetDefinitionRequest"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Request completed successfully."
          },
          "202": {
            "description": "Request accepted. Update definition is in progress.",
            "headers": {
              "Location": {
                "description": "The URL of the operation status, which can be used to track the operation state.",
                "type": "string"
              },
              "x-ms-operation-id": {
                "description": "The operation ID which can be used with long running operations (LRO) APIs to track the operation state and get the result.",
                "type": "string",
                "format": "uuid"
              },
              "Retry-After": {
                "type": "integer",
                "description": "The number of seconds to wait before retrying the request."
              }
            }
          },
          "429": {
            "x-ms-error-response": true,
            "description": "The service rate limit was exceeded. The server returns a `Retry-After` header indicating, in seconds, how long the client must wait before sending additional requests.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "description": "The number of seconds to wait before retrying the request."
              }
            },
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Common error codes:\n\n* ItemNotFound - The requested item was not found.\n\n* OperationNotSupportedForItem - Operation not supported for requested item.\n\n* CorruptedPayload - The provided payload is corrupted.",
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update a policy set public definition example": {
            "$ref": "./examples/UpdatePolicySetDefinition.json"
          }
        }
      }
    },
    "/workspaces/{workspaceId}/policySets/{policySetId}/policyRules?beta=true": {
      "get": {
        "summary": "Returns a list of policy rules from the specified policy set.",
        "description": "> [!NOTE]\n> This API is part of a Beta release and is provided for evaluation and development purposes only. It may change based on feedback and is not recommended for production use.\n**When calling this API, callers must specify `true` as the value for the query parameter `beta`.**\n\n> [!NOTE]\n> Policy set item is currently in Preview ([learn more](/fabric/fundamentals/preview)).\n\nThis API supports [pagination](/rest/api/fabric/articles/pagination).\n\n## Permissions\n\nThe caller must have *read* permissions for the policy set.\n\n## Required Delegated Scopes\n\nItem.Read.All or Item.ReadWrite.All\n\n## Microsoft Entra supported identities\n\nThis API supports the Microsoft [identities](/rest/api/fabric/articles/identity-support) listed in this section.\n\n| Identity | Support |\n|-|-|\n| User | Yes |\n| [Service principal](/entra/identity-platform/app-objects-and-service-principals#service-principal-object) and [Managed identities](/entra/identity/managed-identities-azure-resources/overview) | Yes |\n\n## Interface",
        "tags": [
          "PolicyRules"
        ],
        "operationId": "PolicyRules_List_Policy_Rules_(beta)",
        "x-ms-pageable": {
          "nextLinkName": "continuationUri"
        },
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workspaceId",
            "description": "The workspace ID.",
            "type": "string",
            "format": "uuid",
            "required": true
          },
          {
            "in": "path",
            "name": "policySetId",
            "description": "The policy set ID.",
            "type": "string",
            "format": "uuid",
            "required": true
          },
          {
            "in": "query",
            "name": "continuationToken",
            "description": "A token for retrieving the next page of results.",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "beta",
            "description": "This required parameter must be set to `true` to access this API, which is currently in beta.",
            "type": "boolean",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "schema": {
              "$ref": "./definitions.json#/definitions/PolicyRules"
            }
          },
          "429": {
            "x-ms-error-response": true,
            "description": "The service rate limit was exceeded. The server returns a `Retry-After` header indicating, in seconds, how long the client must wait before sending additional requests.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "description": "The number of seconds to wait before retrying the request."
              }
            },
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Common error codes:\n\n* Unauthorized - User permission to the policy set is not sufficient to perform the operation.\n\n* NotFound - Requested policy set id not found.",
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List policies in a policy set example": {
            "$ref": "./examples/ListPolicyRulesInPolicySet.json"
          }
        }
      },
      "post": {
        "summary": "Creates a policy rule in the specified policy set.",
        "description": "> [!NOTE]\n> This API is part of a Beta release and is provided for evaluation and development purposes only. It may change based on feedback and is not recommended for production use.\n**When calling this API, callers must specify `true` as the value for the query parameter `beta`.**\n\n> [!NOTE]\n> Policy set item is currently in Preview ([learn more](/fabric/fundamentals/preview)).\n\nThis API supports [long running operations (LRO)](/rest/api/fabric/articles/long-running-operation).\n\n## Permissions \nThe caller must have *write* permissions for the policy set.\n\n## Required Delegated Scopes\n\nItem.ReadWrite.All\n\n## Microsoft Entra supported identities\n\nThis API supports the Microsoft [identities](/rest/api/fabric/articles/identity-support) listed in this section.\n\n| Identity | Support |\n|-|-|\n| User | Yes |\n| [Service principal](/entra/identity-platform/app-objects-and-service-principals#service-principal-object) and [Managed identities](/entra/identity/managed-identities-azure-resources/overview) | Yes |\n\n## Interface",
        "tags": [
          "PolicyRules"
        ],
        "operationId": "PolicyRules_Create_Policy_Rule_(beta)",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "x-ms-fabric-sdk-long-running-operation": true,
        "parameters": [
          {
            "in": "path",
            "name": "workspaceId",
            "description": "The workspace ID.",
            "type": "string",
            "format": "uuid",
            "required": true
          },
          {
            "in": "path",
            "name": "policySetId",
            "description": "The policy set ID.",
            "type": "string",
            "format": "uuid",
            "required": true
          },
          {
            "in": "body",
            "name": "createPolicyRuleRequest",
            "description": "Create policy rule request.",
            "schema": {
              "$ref": "./definitions.json#/definitions/CreatePolicyRuleRequest"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "beta",
            "description": "This required parameter must be set to `true` to access this API, which is currently in beta.",
            "type": "boolean",
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "Successfully created",
            "schema": {
              "$ref": "./definitions.json#/definitions/PolicyRule"
            }
          },
          "202": {
            "description": "Request accepted. Policy rule creation is in progress.",
            "headers": {
              "Location": {
                "description": "The URL of the operation status, which can be used to track the operation state.",
                "type": "string"
              },
              "x-ms-operation-id": {
                "description": "The operation ID which can be used with long running operations (LRO) APIs to track the operation state and get the result.",
                "type": "string",
                "format": "uuid"
              },
              "Retry-After": {
                "type": "integer",
                "description": "The number of seconds to wait before retrying the request."
              }
            }
          },
          "429": {
            "x-ms-error-response": true,
            "description": "The service rate limit was exceeded. The server returns a `Retry-After` header indicating, in seconds, how long the client must wait before sending additional requests.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "description": "The number of seconds to wait before retrying the request."
              }
            },
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Common error codes:\n\n* Unauthorized - User permission to the policy set is not sufficient to perform the operation.\n\n* NotFound - Requested policy set id not found.\n\n* PropertyCannotBeNullOrEmpty - A required property must have value.\n\n* UnsupportedPolicyForScope - The specified policy is not supported for the PolicySet scope.\n\n* PropertyMinLength - The specified property not meet the minimum length requirement.\n\n* PropertyMaxLength - The specified property does not meet the maximum length requirement.\n\n* PropertyMinCount - The specified property does not meet the minimum count requirement.\n\n* PropertyMaxCount - The specified property exceeds the maximum count requirement.\n\n* InvalidConditionCombination - The specified condition cannot be combined with other condition.\n\n* DuplicateConditionTargetProperty - The specified target property cannot be used more than once.\n\n* UnsupportedPropertyValue - The specified property value is unsupported.",
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create a policy rule example": {
            "$ref": "./examples/CreatePolicyRule.json"
          }
        }
      }
    },
    "/workspaces/{workspaceId}/policySets/{policySetId}/policyRules/replaceByPolicy?beta=true": {
      "post": {
        "summary": "Replaces the policy rules for the specified policy in the specified policy set.",
        "description": "> [!NOTE]\n> This API is part of a Beta release and is provided for evaluation and development purposes only. It may change based on feedback and is not recommended for production use.\n**When calling this API, callers must specify `true` as the value for the query parameter `beta`.**\n\n> [!NOTE]\n> Policy set item is currently in Preview ([learn more](/fabric/fundamentals/preview)).\n\n> [!NOTE]\n> This API will overwrite all policy rules for the specified policy in the policy set. Always provide the full set of policy rules you want to keep for that policy.\n\nThis API supports [long running operations (LRO)](/rest/api/fabric/articles/long-running-operation).\n\n## Permissions\n\nThe caller must have *write* permissions for the policy set.\n\n## Required Delegated Scopes\n\nItem.ReadWrite.All\n\n## Limitations\n\n- A maximum of 50 policy rules for each policy is allowed within a policy set.\n\n## Microsoft Entra supported identities\n\nThis API supports the Microsoft [identities](/rest/api/fabric/articles/identity-support) listed in this section.\n\n| Identity | Support |\n|-|-|\n| User | Yes |\n| [Service principal](/entra/identity-platform/app-objects-and-service-principals#service-principal-object) and [Managed identities](/entra/identity/managed-identities-azure-resources/overview) | Yes |\n\n## Interface",
        "tags": [
          "PolicyRules"
        ],
        "operationId": "PolicyRules_Replace_Policy_Rules_By_Policy_(beta)",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "x-ms-fabric-sdk-long-running-operation": true,
        "parameters": [
          {
            "in": "path",
            "name": "workspaceId",
            "description": "The workspace ID.",
            "type": "string",
            "format": "uuid",
            "required": true
          },
          {
            "in": "path",
            "name": "policySetId",
            "description": "The policy set ID.",
            "type": "string",
            "format": "uuid",
            "required": true
          },
          {
            "in": "body",
            "name": "replacePolicyRulesByPolicyRequest",
            "description": "Replace policy rules by policy request payload.",
            "schema": {
              "$ref": "./definitions.json#/definitions/ReplacePolicyRulesByPolicyRequest"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "beta",
            "description": "This required parameter must be set to `true` to access this API, which is currently in beta.",
            "type": "boolean",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "schema": {
              "$ref": "./definitions.json#/definitions/PolicyRules"
            }
          },
          "202": {
            "description": "Request accepted. Policy rules replacement is in progress.",
            "headers": {
              "Location": {
                "description": "The URL of the operation status, which can be used to track the operation state.",
                "type": "string"
              },
              "x-ms-operation-id": {
                "description": "The operation ID which can be used with long running operations (LRO) APIs to track the operation state and get the result.",
                "type": "string",
                "format": "uuid"
              },
              "Retry-After": {
                "type": "integer",
                "description": "The number of seconds to wait before retrying the request."
              }
            }
          },
          "429": {
            "x-ms-error-response": true,
            "description": "The service rate limit was exceeded. The server returns a `Retry-After` header indicating, in seconds, how long the client must wait before sending additional requests.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "description": "The number of seconds to wait before retrying the request."
              }
            },
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Common error codes:\n\n* Unauthorized - User permission to the policy set is not sufficient to perform the operation.\n\n* NotFound - Requested policy set id not found.\n\n* PropertyCannotBeNullOrEmpty - A required property must have value.\n\n* UnsupportedPolicyForScope - The specified policy is not supported for the PolicySet scope.\n\n* PropertyMinLength - The specified property not meet the minimum length requirement.\n\n* PropertyMaxLength - The specified property does not meet the maximum length requirement.\n\n* PropertyMinCount - The specified property does not meet the minimum count requirement.\n\n* PropertyMaxCount - The specified property exceeds the maximum count requirement.\n\n* InvalidConditionCombination - The specified condition cannot be combined with other condition.\n\n* DuplicateConditionTargetProperty - The specified target property cannot be used more than once.\n\n* UnsupportedPropertyValue - The specified property value is unsupported.",
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Replace policy rules for policy in a policy set example": {
            "$ref": "./examples/ReplacePolicyRulesByPolicy.json"
          }
        }
      }
    },
    "/workspaces/{workspaceId}/policySets/{policySetId}/policyRules/{policyRuleId}?beta=true": {
      "get": {
        "summary": "Returns a single policy rule from the specified policy set.",
        "description": "> [!NOTE]\n> This API is part of a Beta release and is provided for evaluation and development purposes only. It may change based on feedback and is not recommended for production use.\n**When calling this API, callers must specify `true` as the value for the query parameter `beta`.**\n\n> [!NOTE]\n> Policy set item is currently in Preview ([learn more](/fabric/fundamentals/preview)).\n\n## Permissions\n\nThe caller must have *read* permissions for the policy set.\n\n## Required Delegated Scopes\n\nItem.Read.All or Item.ReadWrite.All\n\n## Microsoft Entra supported identities\n\nThis API supports the Microsoft [identities](/rest/api/fabric/articles/identity-support) listed in this section.\n\n| Identity | Support |\n|-|-|\n| User | Yes |\n| [Service principal](/entra/identity-platform/app-objects-and-service-principals#service-principal-object) and [Managed identities](/entra/identity/managed-identities-azure-resources/overview) | Yes |\n\n## Interface",
        "tags": [
          "PolicyRules"
        ],
        "operationId": "PolicyRules_Get_Policy_Rule_(beta)",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workspaceId",
            "description": "The workspace ID.",
            "type": "string",
            "format": "uuid",
            "required": true
          },
          {
            "in": "path",
            "name": "policySetId",
            "description": "The policy set ID.",
            "type": "string",
            "format": "uuid",
            "required": true
          },
          {
            "in": "path",
            "name": "policyRuleId",
            "description": "The policy rule ID.",
            "type": "string",
            "format": "uuid",
            "required": true
          },
          {
            "in": "query",
            "name": "beta",
            "description": "This required parameter must be set to `true` to access this API, which is currently in beta.",
            "type": "boolean",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "schema": {
              "$ref": "./definitions.json#/definitions/PolicyRule"
            }
          },
          "429": {
            "x-ms-error-response": true,
            "description": "The service rate limit was exceeded. The server returns a `Retry-After` header indicating, in seconds, how long the client must wait before sending additional requests.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "description": "The number of seconds to wait before retrying the request."
              }
            },
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Common error codes:\n\n* Unauthorized - User permission to the policy set is not sufficient to perform the operation.\n\n* NotFound - Requested policy set id not found.\n\n* PolicyNotFound - Requested policy rule id not found.",
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a policy in a policy set example": {
            "$ref": "./examples/GetPolicyRule.json"
          }
        }
      },
      "patch": {
        "summary": "Updates the properties of the specified policy rule.",
        "description": "> [!NOTE]\n> This API is part of a Beta release and is provided for evaluation and development purposes only. It may change based on feedback and is not recommended for production use.\n**When calling this API, callers must specify `true` as the value for the query parameter `beta`.**\n\n> [!NOTE]\n> Policy set item is currently in Preview ([learn more](/fabric/fundamentals/preview)).\n\n> [!NOTE]\n> This operation may become a long running operation in a future release.\n\n## Permissions \nThe caller must have *read and write* permissions for the policy set.\n\n## Required Delegated Scopes\n\nItem.ReadWrite.All\n\n## Microsoft Entra supported identities\n\nThis API supports the Microsoft [identities](/rest/api/fabric/articles/identity-support) listed in this section.\n\n| Identity | Support |\n|-|-|\n| User | Yes |\n| [Service principal](/entra/identity-platform/app-objects-and-service-principals#service-principal-object) and [Managed identities](/entra/identity/managed-identities-azure-resources/overview) | Yes |\n\n## Interface",
        "tags": [
          "PolicyRules"
        ],
        "operationId": "PolicyRules_Update_Policy_Rule_(beta)",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workspaceId",
            "description": "The workspace ID.",
            "type": "string",
            "format": "uuid",
            "required": true
          },
          {
            "in": "path",
            "name": "policySetId",
            "description": "The policy set ID.",
            "type": "string",
            "format": "uuid",
            "required": true
          },
          {
            "in": "path",
            "name": "policyRuleId",
            "description": "The policy rule ID.",
            "type": "string",
            "format": "uuid",
            "required": true
          },
          {
            "in": "body",
            "name": "updatePolicyRuleRequest",
            "description": "Update policy rule request.",
            "schema": {
              "$ref": "./definitions.json#/definitions/UpdatePolicyRuleRequest"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "beta",
            "description": "This required parameter must be set to `true` to access this API, which is currently in beta.",
            "type": "boolean",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "schema": {
              "$ref": "./definitions.json#/definitions/PolicyRule"
            }
          },
          "429": {
            "x-ms-error-response": true,
            "description": "The service rate limit was exceeded. The server returns a `Retry-After` header indicating, in seconds, how long the client must wait before sending additional requests.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "description": "The number of seconds to wait before retrying the request."
              }
            },
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Common error codes:\n\n* Unauthorized - User permission to the policy set is not sufficient to perform the operation.\n\n* NotFound - Requested policy set id not found.\n\n* PropertyCannotBeNullOrEmpty - A required property must have value.\n\n* UnsupportedPolicyForScope - The specified policy is not supported for the PolicySet scope.\n\n* PropertyMinLength - The specified property not meet the minimum length requirement.\n\n* PropertyMaxLength - The specified property does not meet the maximum length requirement.\n\n* PropertyMinCount - The specified property does not meet the minimum count requirement.\n\n* PropertyMaxCount - The specified property exceeds the maximum count requirement.\n\n* InvalidConditionCombination - The specified condition cannot be combined with other condition.\n\n* DuplicateConditionTargetProperty - The specified target property cannot be used more than once.\n\n* UnsupportedPropertyValue - The specified property value is unsupported.",
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update a policy rule example": {
            "$ref": "./examples/UpdatePolicyRule.json"
          }
        }
      },
      "delete": {
        "summary": "Deletes the specified policy rule from the specified policy set.",
        "description": "> [!NOTE]\n> This API is part of a Beta release and is provided for evaluation and development purposes only. It may change based on feedback and is not recommended for production use.\n**When calling this API, callers must specify `true` as the value for the query parameter `beta`.**\n\n> [!NOTE]\n> Policy set item is currently in Preview ([learn more](/fabric/fundamentals/preview)).\n\n> [!NOTE]\n> This operation may become a long running operation in a future release.\n\n## Permissions\n\nThe caller must have *write* permissions for the policy set.\n\n## Required Delegated Scopes\n\nItem.ReadWrite.All\n\n## Microsoft Entra supported identities\n\nThis API supports the Microsoft [identities](/rest/api/fabric/articles/identity-support) listed in this section.\n\n| Identity | Support |\n|-|-|\n| User | Yes |\n| [Service principal](/entra/identity-platform/app-objects-and-service-principals#service-principal-object) and [Managed identities](/entra/identity/managed-identities-azure-resources/overview) | Yes |\n\n## Interface",
        "tags": [
          "PolicyRules"
        ],
        "operationId": "PolicyRules_Delete_Policy_Rule_(beta)",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workspaceId",
            "description": "The workspace ID.",
            "type": "string",
            "format": "uuid",
            "required": true
          },
          {
            "in": "path",
            "name": "policySetId",
            "description": "The policy set ID.",
            "type": "string",
            "format": "uuid",
            "required": true
          },
          {
            "in": "path",
            "name": "policyRuleId",
            "description": "The policy rule ID.",
            "type": "string",
            "format": "uuid",
            "required": true
          },
          {
            "in": "query",
            "name": "beta",
            "description": "This required parameter must be set to `true` to access this API, which is currently in beta.",
            "type": "boolean",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Request completed successfully."
          },
          "429": {
            "x-ms-error-response": true,
            "description": "The service rate limit was exceeded. The server returns a `Retry-After` header indicating, in seconds, how long the client must wait before sending additional requests.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "description": "The number of seconds to wait before retrying the request."
              }
            },
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Common error codes:\n\n* Unauthorized - User permission to the policy set is not sufficient to perform the operation.\n\n* NotFound - Requested policy set id not found.\n\n* PolicyNotFound - Requested policy rule id not found.",
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a policy from a policy set example": {
            "$ref": "./examples/DeletePolicyRule.json"
          }
        }
      }
    },
    "/workspaces/{workspaceId}/policySets/{policySetId}/activate": {
      "post": {
        "summary": "Activates the policy set on the specified scope.",
        "description": "> [!NOTE]\n> Policy set item is currently in Preview ([learn more](/fabric/fundamentals/preview)).\n\n## Permissions\n\n- The caller must have *read* permissions for the policy set.\n\n- Based on the scope the PolicySet is applied to, caller must have:\n- For Capacity scope - The caller must be capacity Admin.\n\n## Required Delegated Scopes\n\n- Item.Read.All or Item.ReadWrite.All\n\n- Based on the scope the PolicySet is applied to, the following scopes are also required:\n- For Capacity policy-scope - Capacity.ReadWrite.All\n\n## Limitations\n\n- Only a single policy set can be active on the specified scope.\n\n## Microsoft Entra supported identities\n\nThis API supports the Microsoft [identities](/rest/api/fabric/articles/identity-support) listed in this section.\n\n| Identity | Support |\n|-|-|\n| User | Yes |\n| [Service principal](/entra/identity-platform/app-objects-and-service-principals#service-principal-object) and [Managed identities](/entra/identity/managed-identities-azure-resources/overview) | Yes |\n\n## Interface",
        "tags": [
          "Activation"
        ],
        "operationId": "Activation_Activate",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workspaceId",
            "description": "The workspace ID.",
            "type": "string",
            "format": "uuid",
            "required": true
          },
          {
            "in": "path",
            "name": "policySetId",
            "description": "The policy set ID.",
            "type": "string",
            "format": "uuid",
            "required": true
          },
          {
            "in": "body",
            "name": "scopeActivationRequest",
            "description": "Scope activation request payload.",
            "schema": {
              "$ref": "./definitions.json#/definitions/ScopeActivationRequest"
            },
            "required": true
          },
          {
            "name": "allowReplace",
            "description": "When true, allow to replace existing active PolicySet. Default: false.",
            "in": "query",
            "type": "boolean",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Request completed successfully."
          },
          "429": {
            "x-ms-error-response": true,
            "description": "The service rate limit was exceeded. The server returns a `Retry-After` header indicating, in seconds, how long the client must wait before sending additional requests.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "description": "The number of seconds to wait before retrying the request."
              }
            },
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Common error codes:\n\n* Unauthorized - User permission to the policy set is not sufficient to perform the operation.\n\n* NotFound - Requested policy set id not found.\n\n* PolicySetActivationConflict - PolicySet activation failed because another policy set is already active.\n\n* PropertyCannotBeDefault - A required property must not have default value.\n\n* PropertyCannotBeNullOrEmpty - A required property must have value.\n\n* InvalidActivationScope - An activation scope type must be aligned with the policy set scope type.\n\n* UnsupportedPropertyValue - The specified property value is unsupported.\n\n* PolicySetActivationConflict - PolicySet activation failed because another PolicySet is already active on the specified scope.",
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Activate a policy set example": {
            "$ref": "./examples/ActivatePolicySet.json"
          }
        }
      }
    },
    "/workspaces/{workspaceId}/policySets/{policySetId}/deactivate": {
      "post": {
        "summary": "Deactivates the policy set from the specified scope.",
        "description": "> [!NOTE]\n> Policy set item is currently in Preview ([learn more](/fabric/fundamentals/preview)).\n\n## Permissions\n\n- The caller must have *read* permissions for the policy set.\n\n- Based on the scope the PolicySet is applied to, caller must have:\n- For Capacity scope - The caller must be capacity Admin.\n\n## Required Delegated Scopes\n\n- Item.Read.All or Item.ReadWrite.All\n\n- Based on the scope the PolicySet is applied to, the following scopes are also required:\n- For Capacity policy-scope - Capacity.ReadWrite.All\n\n## Limitations\n\n- Only a single policy set can be active on the specified scope.\n\n## Microsoft Entra supported identities\n\nThis API supports the Microsoft [identities](/rest/api/fabric/articles/identity-support) listed in this section.\n\n| Identity | Support |\n|-|-|\n| User | Yes |\n| [Service principal](/entra/identity-platform/app-objects-and-service-principals#service-principal-object) and [Managed identities](/entra/identity/managed-identities-azure-resources/overview) | Yes |\n\n## Interface",
        "tags": [
          "Activation"
        ],
        "operationId": "Activation_Deactivate",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workspaceId",
            "description": "The workspace ID.",
            "type": "string",
            "format": "uuid",
            "required": true
          },
          {
            "in": "path",
            "name": "policySetId",
            "description": "The policy set ID.",
            "type": "string",
            "format": "uuid",
            "required": true
          },
          {
            "in": "body",
            "name": "scopeDeactivationRequest",
            "description": "Scope deactivation request payload.",
            "schema": {
              "$ref": "./definitions.json#/definitions/ScopeDeactivationRequest"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Request completed successfully."
          },
          "429": {
            "x-ms-error-response": true,
            "description": "The service rate limit was exceeded. The server returns a `Retry-After` header indicating, in seconds, how long the client must wait before sending additional requests.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "description": "The number of seconds to wait before retrying the request."
              }
            },
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Common error codes:\n\n* Unauthorized - User permission to the policy set is not sufficient to perform the operation.\n\n* NotFound - Requested policy set id not found.\n\n* PropertyCannotBeNullOrEmpty - A required property must have value.\n\n* InvalidActivationScope - An activation scope type must be aligned with the policy set scope type.\n\n* UnsupportedPropertyValue - The specified property value is unsupported.\n\n* PolicySetNotActiveOnScope - Policy set is not active on the specified scope.",
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Deactivate a policy set example": {
            "$ref": "./examples/DeactivatePolicySet.json"
          }
        }
      }
    },
    "/capacities/{capacityId}/policySets/active": {
      "get": {
        "summary": "Returns the active policy set on the specified capacity.",
        "description": "> [!NOTE]\n> Policy set item is currently in Preview ([learn more](/fabric/fundamentals/preview)).\n\n## Permissions\n\nThe caller must be an administrator of the specified capacity.\n\n## Required Delegated Scopes\n\nCapacity.ReadWrite.All or Capacity.Read.All\n\n## Microsoft Entra supported identities\n\nThis API supports the Microsoft [identities](/rest/api/fabric/articles/identity-support) listed in this section.\n\n| Identity | Support |\n|-|-|\n| User | Yes |\n| [Service principal](/entra/identity-platform/app-objects-and-service-principals#service-principal-object) and [Managed identities](/entra/identity/managed-identities-azure-resources/overview) | Yes |\n\n## Interface",
        "tags": [
          "Activation"
        ],
        "operationId": "Activation_GetActiveForCapacity",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "capacityId",
            "description": "The capacity ID.",
            "type": "string",
            "format": "uuid",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "schema": {
              "$ref": "./definitions.json#/definitions/ActivePolicySetResponse"
            }
          },
          "429": {
            "x-ms-error-response": true,
            "description": "The service rate limit was exceeded. The server returns a `Retry-After` header indicating, in seconds, how long the client must wait before sending additional requests.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "description": "The number of seconds to wait before retrying the request."
              }
            },
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Common error codes:\n\n* Unauthorized - User permission to the capacity is not sufficient to perform the operation.\n\n* ActivePolicySetNotFoundForCapacity - No active policy set was found on the specified capacity.",
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get the active policy set for a capacity example": {
            "$ref": "./examples/GetActivePolicySet.json"
          }
        }
      }
    }
  },
  "responses": {},
  "security": [],
  "tags": []
}
